id_lote: "<%= @x_row[ :id_lote ] %>"
id_transaccion: "<%= @x_row[ :id_transaccion ] %>"
numero_lote: "<%= @x_row[ :numero_lote ] %>"
numero_host: "<%= @x_row[ :numero_host ] %>"
terminal: "<%= @x_row[ :terminal ] %>"
modo_transmision: "<%= @x_row[ :modo_transmision ] %>"
clase: "<%= @x_row[ :clase ] %>"
fecha: "<%= @x_row[ :fecha ] %>"
hora: "<%= @x_row[ :hora ] %>"
clase_tarjeta: "<%= @x_row[ :clase_tarjeta ] %>"
emisor: "<%= @x_row[ :emisor ] %>"
numero_tarjeta: "<%= @x_row[ :numero_tarjeta ] %>"
modo_ingreso: "<%= @x_row[ :modo_ingreso ] %>"
codigo_autorizacion: "<%= @x_row[ :codigo_autorizacion ] %>"
numero_ticket: "<%= @x_row[ :numero_ticket ] %>"
moneda: "<%= @x_row[ :moneda ] %>"
importe: "<%= @x_row[ :importe ] %>"
plan: "<%= @x_row[ :plan ] %>"
cuotas: "<%= @x_row[ :cuotas ] %>"
comercio: "<%= @x_row[ :comercio ] %>"
numero_factura: "<%= @x_row[ :numero_factura ] %>"
