<%=
	begin
		"lot_closure_id: #{ LotClosure.find_by( :global_number => @x_row[ :id_lote ] , :system_id => @system.id ).id }"
	rescue
		"lot_closure_id: #{nil}"
	end
%>
global_number: <%= @x_row[ :id_transaccion ] %>
datetime_at: <%= DateTime.strptime( "#{@x_row[ :fecha ]}#{@x_row[ :hora ]}-3" , "%d%m%y%H%M%S%z" ) %>
<%=
	if [ "COMPRA" ].include?( @x_row[ :clase ] )
		"kind: 0"
	elsif [ "DEVOLUCION" ].include?( @x_row[ :clase ] )
		"kind: 1"
	end
%>
transmission_mode: "<%= @x_row[ :modo_transmision ] %>"
card_class: "<%= @x_row[ :clase_tarjeta ] %>"
card_entity: "<%= @x_row[ :emisor ] %>"
commerce: "<%= @x_row[ :comercio ] %>"
currency: "<%= @x_row[ :moneda ] %>"
amount: <%= ( @x_row[ :importe ].to_i / 100.00 ) %>

numero_tarjeta: "<%= @x_row[ :numero_tarjeta ] %>"
modo_ingreso: "<%= @x_row[ :modo_ingreso ] %>"
codigo_autorizacion: "<%= @x_row[ :codigo_autorizacion ] %>"
numero_ticket: "<%= @x_row[ :numero_ticket ] %>"
clase_cuenta_debito: "<%= @x_row[ :clase_cuenta_debito ] %>"
plan: "<%= @x_row[ :plan ] %>"
cuotas: "<%= @x_row[ :cuotas ] %>"
numero_factura: "<%= @x_row[ :cuotas ] %>"

system_id: <%= @system.id %>
synchronizer_id: <%= @self.id %>
