code: "<%= @system_ref.code %>-<%= @x_row[ :terminal ] %>"
name: "Terminal de <%=  @system_ref.name %> ID#<%= @x_row[ :terminal ] %>"
system_id: <%= @system_ref.id %>
synchronizer_id: <%= @self.id %>
