<%=
	begin
		"credit_terminal_id: #{ CreditTerminal.find_by( :code => "#{ @system_ref_code}-#{ @collection[ :terminal ] }" ).id }"
	rescue
		"credit_terminal_code: \"#{ @system_ref_code}-#{ @collection[ :terminal ] }\""
	end
%>
global_number: <%= @collection[ :id_lote ] %>
lot_number: <%= @collection[ :numero_lote ] %>
host_number: <%= @collection[ :numero_host ] %>
host_name: <%= @collection[ :nombre_host ] %>
closed_at:  <%= Date.strptime( @collection[ :fecha_cierre ] , "%d%m%y" ) %>
amount:  <%= @array_service_group_data.map{ |element| ( element[ :clase ] == "COMPRA" ? ( element[ :importe ].to_f / 100.00 ) : -( element[ :importe ].to_f / 100.00 ) ) }.compact.sum %>
system_id: <%= @system_ref.id %>
synchronizer_id: <%= @self.id %>
