<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				NRODOC AS dni
			, NROLEG AS id_person
			, NOMEMP AS names
			, 0 AS system_id
			, <%= Role.find_by( :name => "Ingresante" ).id %> AS role_id
			, ( CASE
					WHEN FECEGR IS NULL THEN 0
					ELSE 1
				END
			  ) AS status
			, <%= GobbiSchema.find_by( :name => schema_name).id %> AS gobbi_schema_id
		FROM
			<%= schema_name %>.dbo.LEGAJO
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
