<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				"<%= schema_name %>" AS schema_name
			, NROCON AS external_id
			, NOMCON AS name
			, ABRCON AS code
			, 0 AS status
		FROM
			<%= schema_name %>.dbo.CONDICION
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
