<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				'B' + CAST( NROBAN AS VARCHAR) + 'S' + CAST( SUCBAN AS VARCHAR) AS code
			, NOMBAN AS name
		FROM
			<%= schema_name %>.dbo.BANCO
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
