<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
			(
			CASE
				WHEN ( CHARINDEX('BBVA',APEMAE) > 0 ) THEN 'BBVA' + LTRIM( RTRIM( REPLACE( MAESTRO.NOMMAE , 'Nº CTA:' , '' ) ) )
				WHEN ( CHARINDEX('BANCO DE LA NACION ARGENTINA',APEMAE) > 0 ) THEN 'BNA' + LTRIM( RTRIM( REPLACE( MAESTRO.NOMMAE , 'Nº CTA:' , '' ) ) )
				WHEN ( CHARINDEX('ICBC',APEMAE) > 0 ) THEN 'ICBC' + LTRIM( RTRIM( REPLACE( MAESTRO.NOMMAE , 'Nº CTA:' , '' ) ) )
				WHEN ( CHARINDEX('GALICIA',APEMAE) > 0 ) THEN 'GALICIA' + LTRIM( RTRIM( REPLACE( MAESTRO.NOMMAE , 'Nº CTA:' , '' ) ) )
				WHEN ( CHARINDEX('SANTANDER',APEMAE) > 0 ) THEN 'SANTANDER' + LTRIM( RTRIM( REPLACE( MAESTRO.NOMMAE , 'Nº CTA:' , '' ) ) )
				WHEN ( CHARINDEX('SANTADER',APEMAE) > 0 ) THEN 'SANTANDER' + LTRIM( RTRIM( REPLACE( MAESTRO.NOMMAE , 'Nº CTA:' , '' ) ) )
				WHEN ( CHARINDEX('CIUDAD DE BSAS',APEMAE) > 0 ) THEN 'CDADBSAS' + LTRIM( RTRIM( REPLACE( MAESTRO.NOMMAE , 'Nº CTA:' , '' ) ) )
				ELSE '' + LTRIM( RTRIM( REPLACE( MAESTRO.NOMMAE , 'Nº CTA:' , '' ) ) )
			END
		  ) AS code
		, ( CASE
			WHEN NOMMAE = '' THEN APEMAE ELSE APEMAE + ' ( ' + NOMMAE + ' )' END
		) AS name
		, LTRIM( RTRIM( REPLACE( REPLACE( REPLACE( REPLACE( MAESTRO.NOMMAE , 'Nº CTA:' , '' ) , '-' , '' ) , '/' , '' ) , ' ' , '' ) ) ) AS number
		, (
			CASE
				WHEN ( CHARINDEX('BBVA',APEMAE) > 0 ) THEN 'BBVA'
				WHEN ( CHARINDEX('BANCO DE LA NACION ARGENTINA',APEMAE) > 0 ) THEN 'BNA'
				WHEN ( CHARINDEX('ICBC',APEMAE) > 0 ) THEN 'ICBC'
				WHEN ( CHARINDEX('GALICIA',APEMAE) > 0 ) THEN 'GALICIA'
				WHEN ( CHARINDEX('SANTANDER',APEMAE) > 0 ) THEN 'SANTANDER'
				WHEN ( CHARINDEX('SANTADER',APEMAE) > 0 ) THEN 'SANTANDER'
				WHEN ( CHARINDEX('CIUDAD DE BSAS',APEMAE) > 0 ) THEN 'CDADBSAS'
				ELSE ''
			END
		) AS _bank_code
		FROM
			<%= schema_name %>.dbo.MAESTRO
		LEFT JOIN
		  <%= schema_name %>.dbo.TIPMAE ON MAESTRO.TIPMAE = TIPMAE.TIPMAE
	  WHERE
			<%= schema_name %>.dbo.TIPMAE.NOMTIPMAE = 'BANCOS'
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
