<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT

				"<%= company_code %>" AS company_code
			, NROSUC AS external_id
			, NOMSUC AS name
			, NOMEMP AS company_name
			, DOMSUC AS address
			, NROPCIA AS province_external_id
			, CODPOS AS postal_code
			, NROTEL AS telephone_number
			, NROFAX AS fax_number

		FROM

			<%= schema_name %>.dbo.SUCURSAL

	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
