<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				'<%= schema_name %>' AS schema_name
			, CAST( NROMAE AS INT ) AS external_id
			, MAESTRO.*
		FROM
			<%= schema_name %>.dbo.MAESTRO
		LEFT JOIN
			<%= schema_name %>.dbo.CLASE ON ( <%= schema_name %>.dbo.CLASE.NROCLA = <%= schema_name %>.dbo.MAESTRO.NROCLA )
		WHERE
			<%= schema_name %>.dbo.CLASE.NOMCLA = 'AGENCIAS'
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
