<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				"<%= schema_name %>" AS schema_name
			, NROCEN AS external_id
			, NOMCEN AS name
			, 0 AS status
		FROM
			<%= schema_name %>.dbo.CENTRO
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
