<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				"<%= schema_name %>" AS schema_name
			, NROMON AS external_id
			, SIGMON AS symbol
			, NOMMON AS name
			, CODAFIP AS afip_code
			, 0 AS status
		FROM
			<%= schema_name %>.dbo.MONEDA
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
