<% @schemas.each_with_index do | schema_name , index |  %>
	(
			(
				SELECT
					  'agency' AS child_table_name
					, ( LEFT( <%= schema_name %>.dbo.LOCAL.NOMLOC , CHARINDEX( '-' , <%= schema_name %>.dbo.LOCAL.NOMLOC ) - 1 ) + '-' + RIGHT( <%= schema_name %>.dbo.LOCAL.NOMLOC , CHARINDEX( '-' , <%= schema_name %>.dbo.LOCAL.NOMLOC ) - 1 ) ) AS child_value
					, 'agency' AS parent_table_name
					, 'AG' + RIGHT( '00000000' + ISNULL( <%= schema_name %>.dbo.MAESTRO.NROMAE , '' ) , 8 ) AS parent_value
				FROM
					<%= schema_name %>.dbo.MAESTRO
				LEFT JOIN
					<%= schema_name %>.dbo.CLASE ON ( <%= schema_name %>.dbo.CLASE.NROCLA = <%= schema_name %>.dbo.MAESTRO.NROCLA )
				LEFT JOIN
					<%= schema_name %>.dbo.LOCAL ON ( <%= schema_name %>.dbo.MAESTRO.JUNMAE = <%= schema_name %>.dbo.LOCAL.JUNMAE )
				WHERE
					( <%= schema_name %>.dbo.CLASE.NOMCLA = 'AGENCIAS' AND <%= schema_name %>.dbo.LOCAL.NOMLOC LIKE '%-%-%' )
				GROUP BY
					( LEFT( <%= schema_name %>.dbo.LOCAL.NOMLOC , CHARINDEX( '-' , <%= schema_name %>.dbo.LOCAL.NOMLOC ) - 1 ) + '-' + RIGHT( <%= schema_name %>.dbo.LOCAL.NOMLOC , CHARINDEX( '-' , <%= schema_name %>.dbo.LOCAL.NOMLOC ) - 1 ) ) , RIGHT( '00000000' + ISNULL( <%= schema_name %>.dbo.MAESTRO.NROMAE , '' ) , 8 )
			)
		UNION
			(
				SELECT
					  'credit_terminal' AS child_table_name
					, ( 'LGC-' + CATA.dbo.LOCAL.NOMLOC ) AS child_value
					, 'agency' AS parent_table_name
					, 'AG' + RIGHT( '00000000' + ISNULL( MCTAC.NROMAE , '' ) , 8 ) AS parent_value
				FROM
					CATA.dbo.LOCAL
				LEFT JOIN
					CATA.dbo.MAESTRO AS MJMAE ON ( MJMAE.JUNMAE = CATA.dbo.LOCAL.JUNMAE )
				LEFT JOIN
					CATA.dbo.MAESTRO AS MCTAC ON ( MCTAC.JUNMAE = CATA.dbo.LOCAL.LOCLOC )
				WHERE
					MJMAE.NROMAE = 910 AND CATA.dbo.LOCAL.LOCLOC IS NOT NULL
			)
		UNION
			(
				SELECT
						'bank_account_card' AS child_table_name
					, (
						CASE
							WHEN ( CHARINDEX('BBVA',MORIGEN.APEMAE) > 0 ) THEN 'BBVA@' + CAST( MAETAR.NROTAR AS VARCHAR )
							WHEN ( CHARINDEX('BANCO DE LA NACION ARGENTINA',MORIGEN.APEMAE) > 0 ) THEN 'BNA@' + CAST( MAETAR.NROTAR AS VARCHAR )
							WHEN ( CHARINDEX('ICBC',MORIGEN.APEMAE) > 0 ) THEN 'ICBC@' + CAST( MAETAR.NROTAR AS VARCHAR )
							WHEN ( CHARINDEX('GALICIA',MORIGEN.APEMAE) > 0 ) THEN 'GALICIA@' + CAST( MAETAR.NROTAR AS VARCHAR )
							WHEN ( CHARINDEX('SANTANDER',MORIGEN.APEMAE) > 0 ) THEN 'SANTANDER@' + CAST( MAETAR.NROTAR AS VARCHAR )
							WHEN ( CHARINDEX('CIUDAD DE BSAS',MORIGEN.APEMAE) > 0 ) THEN 'CDADBSAS@' + CAST( MAETAR.NROTAR AS VARCHAR )
							ELSE '' + CAST( MAETAR.NROTAR AS VARCHAR )
						END
						) AS code
					, 'agency' AS parent_table_name
					, 'AG' + CAST( MDESTINO.NROMAE AS VARCHAR )
				FROM
					CATA.dbo.MAETAR
				LEFT JOIN
					CATA.dbo.MAESTRO AS MORIGEN ON MAETAR.JUNMAE = MORIGEN.JUNMAE
				LEFT JOIN
					CATA.dbo.MAESTRO AS MDESTINO ON MAETAR.JUNMAECLI = MDESTINO.JUNMAE
				LEFT JOIN
					CATA.dbo.TIPMAE ON MORIGEN.TIPMAE = CATA.dbo.TIPMAE.TIPMAE
				WHERE
				 CATA.dbo.TIPMAE.NOMTIPMAE = 'BANCOS'
			)
	)

	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
