<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				'<%= schema_name %>' AS schema_name
			, CAST( CAST( LOCAL.JUNMAE AS VARCHAR ) + CAST( LOCAL.NROLOC AS VARCHAR ) AS BIGINT ) AS external_id
			, LOCAL.*
		FROM
			<%= schema_name %>.dbo.LOCAL
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
