<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT

				"<%= schema_name %>" AS schema_name
			, NROEMP AS external_id
			, NOMEMP AS name
			, 0 AS status

		FROM

			<%= schema_name %>.dbo.EMPRESA

	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
