<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				(
				CASE
					WHEN ( CHARINDEX('BBVA',MORIGEN.APEMAE) > 0 ) THEN 'BBVA@' + CAST( MAETAR.NROTAR AS VARCHAR )
					WHEN ( CHARINDEX('BANCO DE LA NACION ARGENTINA',MORIGEN.APEMAE) > 0 ) THEN 'BNA@' + CAST( MAETAR.NROTAR AS VARCHAR )
					WHEN ( CHARINDEX('ICBC',MORIGEN.APEMAE) > 0 ) THEN 'ICBC@' + CAST( MAETAR.NROTAR AS VARCHAR )
					WHEN ( CHARINDEX('GALICIA',MORIGEN.APEMAE) > 0 ) THEN 'GALICIA@' + CAST( MAETAR.NROTAR AS VARCHAR )
					WHEN ( CHARINDEX('SANTANDER',MORIGEN.APEMAE) > 0 ) THEN 'SANTANDER@' + CAST( MAETAR.NROTAR AS VARCHAR )
					WHEN ( CHARINDEX('CIUDAD DE BSAS',MORIGEN.APEMAE) > 0 ) THEN 'CDADBSAS@' + CAST( MAETAR.NROTAR AS VARCHAR )
					ELSE '' + CAST( MAETAR.NROTAR AS VARCHAR )
				END
				) AS code
			, ( 'ID: ' + CAST( MAETAR.NROTAR AS VARCHAR ) ) AS name
			, NROTAR AS number
			, NROIDE AS id_number
			, (
				CASE
					WHEN ( CHARINDEX('BBVA',MORIGEN.APEMAE) > 0 ) THEN 'BBVA' + LTRIM( RTRIM( REPLACE( MORIGEN.NOMMAE , 'Nº CTA:' , '' ) ) )
					WHEN ( CHARINDEX('BANCO DE LA NACION ARGENTINA',MORIGEN.APEMAE) > 0 ) THEN 'BNA' + LTRIM( RTRIM( REPLACE( MORIGEN.NOMMAE , 'Nº CTA:' , '' ) ) )
					WHEN ( CHARINDEX('ICBC',MORIGEN.APEMAE) > 0 ) THEN 'ICBC' + LTRIM( RTRIM( REPLACE( MORIGEN.NOMMAE , 'Nº CTA:' , '' ) ) )
					WHEN ( CHARINDEX('GALICIA',MORIGEN.APEMAE) > 0 ) THEN 'GALICIA' + LTRIM( RTRIM( REPLACE( MORIGEN.NOMMAE , 'Nº CTA:' , '' ) ) )
					WHEN ( CHARINDEX('SANTANDER',MORIGEN.APEMAE) > 0 ) THEN 'SANTANDER' + LTRIM( RTRIM( REPLACE( MORIGEN.NOMMAE , 'Nº CTA:' , '' ) ) )
					WHEN ( CHARINDEX('CIUDAD DE BSAS',MORIGEN.APEMAE) > 0 ) THEN 'CDADBSAS' + LTRIM( RTRIM( REPLACE( MORIGEN.NOMMAE , 'Nº CTA:' , '' ) ) )
					ELSE '' + LTRIM( RTRIM( REPLACE( MORIGEN.NOMMAE , 'Nº CTA:' , '' ) ) )
				END
				) AS _bank_account_code
		FROM
			<%= schema_name %>.dbo.MAETAR
		LEFT JOIN
		  <%= schema_name %>.dbo.MAESTRO AS MORIGEN ON MAETAR.JUNMAE = MORIGEN.JUNMAE
		LEFT JOIN
			<%= schema_name %>.dbo.TIPMAE ON MORIGEN.TIPMAE = <%= schema_name %>.dbo.TIPMAE.TIPMAE
		WHERE
		 <%= schema_name %>.dbo.TIPMAE.NOMTIPMAE = 'BANCOS'
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
