<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				"<%= schema_name %>" AS schema_name
			, NROSEC AS external_id
			, SECTOR.*
		FROM
			<%= schema_name %>.dbo.SECTOR
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
