<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT

				"<%= schema_name %>" AS schema_name
			, NROCLA AS external_id
			, NOMCLA AS name
			, 0 AS status
		FROM
			<%= schema_name %>.dbo.CLASE
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
