<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				'AG' + RIGHT( '00000000' + ISNULL( MAESTRO.NROMAE , '' ) , 8 ) AS code
			, APEMAE AS name
			, 0 AS system_id
		FROM
			<%= schema_name %>.dbo.MAESTRO
		LEFT JOIN
			<%= schema_name %>.dbo.CLASE ON ( <%= schema_name %>.dbo.CLASE.NROCLA = <%= schema_name %>.dbo.MAESTRO.NROCLA )
		WHERE
			<%= schema_name %>.dbo.CLASE.NOMCLA = 'AGENCIAS'
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
