<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				"<%= schema_name %>" AS schema_name
			, NROSUC AS branch_office_external_id
			, NROCLA AS class_master_external_id
			, NROMAE AS external_id
			, NOMMAE AS first_name
			, APEMAE AS last_name
			, NOMFAN AS fantasy_name
			, NROEMP AS type_company_external_id
			, DOMMAE AS address
			, LOCMAE AS state_name
			, NROTEL AS telephone_number
			, NROFAX AS fax_number
			, EMAIL  AS email_address
			, NROIVA AS iva_external_id
			, 0 AS status
		FROM
			<%= schema_name %>.dbo.MAESTRO
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
