<% @schemas.each_with_index do | schema_name , index |  %>
	(
		SELECT
				"<%= schema_name %>" AS schema_name
			, NROIVA AS external_id
			, NOMIVA AS name
			, LETVTA AS letter_vta
			, LETCPA AS letter_cpa
			, 0 AS status
		FROM
			<%= schema_name %>.dbo.IVA
	)
	<% if index < ( @schemas.size - 1 ) %>
		UNION
	<% end %>
<% end %>
