id_person: <%= @instance[ :id_person ] %>
dni: <%= @instance[ :dni ] %>
<%=
	if @instance[ :names ].include?( ',' )
		arr_of_names = @instance[:names].split(',').map{ |e| e.strip.titleize }
		"last_name: \"#{arr_of_names.first}\"" + "\n" +
		"first_name: \"#{arr_of_names.last}\""
	else
		arr_of_names = @instance[:names].split(' ').map{ |e| e.strip.titleize }
		if arr_of_names.count == 2
			"last_name: \"#{arr_of_names.first}\"" + "\n" +
			"first_name: \"#{arr_of_names.last}\""
		elsif arr_of_names.count > 2
			"last_name: \"#{arr_of_names.first(arr_of_names.count-2).join(' ')}\"" + "\n" +
			"first_name: \"#{arr_of_names.last(2).join(' ')}\""
		elsif arr_of_names.count == 1
			"last_name: \"#{arr_of_names.first}\"" + "\n" +
			"first_name: \" \""
		end
	end
%>
role_id: <%= @instance[ :role_id ] %>
status: <%= @instance[ :status ] %>
system_id: <%= @instance[ :system_id ] %>
gobbi_schema_id: <%= @instance[ :gobbi_schema_id ] %>
system_id: <%= @system.id %>
synchronizer_id: <%= @self.id %>
