<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Asignar crédito máximo</h1>
	<small class="text-muted">Este proceso modificará el valor máximo de crédito asignado.</small>
</div>

<%= form_tag( get_edit_credit_maximum_path , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Sistema:</div>
				<div class="col col-md-10 verticalcenter"><%= @agency_company.system.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Agencia:</div>
				<div class="col col-md-10 verticalcenter"><%= @agency_company.agency.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Empresa:</div>
				<div class="col col-md-10 verticalcenter"><%= @agency_company.company.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Agencia propia?</div>
				<div class="col col-md-10 verticalcenter"><%= @agency_company.own %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Tipo de Liquidación:</div>
				<div class="col col-md-10 verticalcenter"><%= @agency_company.liquidation_type %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Agencia adm.:</div>
				<div class="col col-md-10 verticalcenter"><%= @agency_company.agency_admin.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Crédito máximo:</div>
				<div class="col col-md-10 verticalcenter"><%= @agency_company.credit_maximum %></div>
			</div>
			<div class="hr-line-dashed"></div>
			<%= print_input_param_agency_company( :credit_maximum , :text_field ) %>
	    <!-- <div class="ibox-content" >
				<div id="task_params_content"></div>
	    </div> -->

	  </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-primary">Editar crédito</button>
	</div>

<% end %>

<script>
	$(document).ready(function() {
		$( ".select2_current_account_id" ).select2();
		$( ".select2_current_account_id" ).val( $('.select2_current_account_id option:first-child').val() ).trigger('change');
	});
</script>
