<%= render_instances_search_modal %>
<%= render_instances_list %>
<div class="modal inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-lg"> <div class="modal-content"> </div> </div> </div>
