code: "<%= "#{ @system.code }-#{ @instance[ :code ]}" %>"
name: "<%= @instance[ :name ] %>"
address: "<%= @instance[ :address ] %>"
location: "<%= @instance[ :location ] %>"
postal_code: "<%= @instance[ :address ] %>"
province: "<%= @instance[ :province ] %>"
country: "<%= @instance[ :country ] %>"
telephone_number: "<%= @instance[ :telephone_number ] %>"
fax_number: "<%= @instance[ :fax_number ] %>"
email_address: "<%= @instance[ :email_address ] %>"
system_id: <%= @system.id %>
synchronizer_id: <%= @self.id %>
