code: "<%= "#{@system_ref_code}-#{ @instance[ :codigo ]}" %>"
name: "<%= @instance[ :des_corta ] %>"
address: "<%= @instance[ :domicilio ] %>"
location: "<%= @instance[ :localidad ] %>"
postal_code: "<%= @instance[ :postal ] %>"
province: "<%= @instance[ :provincia ] %>"
country: "<%= @instance[ :pais ] %>"
telephone_number: "<%= @instance[ :telefono ] %>"
fax_number: "<%= @instance[ :fax ] %>"
cuit: "<%= @instance[ :cuit ] %>"
iibb: "<%= @instance[ :iibb ] %>"
iva: "<%= @instance[ :iva ] %>"
sitt_guid: "<%= @instance[ :guid ] %>"
servidor: "<%= @instance[ :codigo ] %>"
detail_lg: "<%= @instance[ :des_larga ] %>"
kind: 1
system_id: <%= @system.id %>
synchronizer_id: <%= @self.id %>
