<%=
	begin
		"agency_id: #{ Agency.find_by( :code => "#{ @system_ref_code}-#{ @instance[ :codigo_agencia ]}" ).id }"
	rescue
		"agency_code: \"#{ @system_ref_code}-#{ @instance[ :codigo_agencia ]}\""
	end
%>
<%=
	begin
		"company_id: #{ Company.find_by( :code => "#{ @system_ref_code}-#{ @instance[ :codigo_empresa ]}" ).id }"
	rescue
		"company_code: \"#{ @system_ref_code}-#{ @instance[ :codigo_empresa ]}\""
	end
%>
<%=
	begin
		"agency_admin_id: #{ Agency.find_by( :code => "#{ @system_ref_code}-#{ @instance[ :codigo_agencia_administradora ]}" ).id }"
	rescue
		"agency_admin: \"#{ @system_ref_code}-#{ @instance[ :codigo_agencia_administradora ]}\""
	end
%>
own: "<%= @instance[ :propia ] %>"
liquidation_type: "<%= @instance[ :tipo_liquidacion ] %>"
system_id: <%= @system.id %>
synchronizer_id: <%= @self.id %>
