<%=
	begin
		"company_id: #{ Company.find_by( :code => "#{ @system_ref_code}-#{ @instance[ :codigo_empresa ]}" ).id }"
	rescue
		"company_code: \"#{ @system_ref_code}-#{ @instance[ :codigo_empresa ]}\""
	end
%>
<%=
	begin
		"agency_id: #{ Agency.find_by( :code => "#{ @system_ref_code}-#{ @instance[ :codigo_agencia ]}" ).id }"
	rescue
		"agency_code: \"#{ @system_ref_code}-#{ @instance[ :codigo_agencia ]}\""
	end
%>
external_id:  <%= @instance[ :liquidacion_id ] %>
agency_number: <%= @instance[ :numero_liquidacion ] %>
unique_number: <%= @instance[ :numero_unico_liquidacion ] %>
liquidated_at: <%= @instance[ :fecha_cierre ] %>
total_liquidated: <%= @instance[ :total_liquidacion ].to_f %>
<%=
	begin
		"user_id: #{ User.find_by( :username => "#{ @system_ref_code}-#{ @instance[ :usuario ]}" ).id }"
	rescue
		"user_username: \"#{ @system_ref_code}-#{ @instance[ :usuario ]}\""
	end
%>
total_efectivo: <%= @instance[ :total_efectivo ].to_f %>
comision: <%= @instance[ :comision ].to_f %>
codigo_agencia_administradora: "<%= @instance[ :codigo_agencia_administradora ] %>"
servidor: "<%= @instance[ :servidor ] %>"

system_id: <%= @system.id %>
synchronizer_id: <%= @self.id %>
