(
  SELECT
      checktime   AS check_at
    , userno      AS person_id
    , devicename  AS terminal_name
  FROM
    CAT.dbo.checkinout
  WHERE
    checkinout.checktime BETWEEN '<%= DateTime.strptime( @fechahora_inicio , "%FT%T%:z" ).strftime("%Y-%m-%d %H:%M:%S") %>' AND '<%= DateTime.strptime( @fechahora_fin , "%FT%T%:z" ).strftime("%Y-%m-%d %H:%M:%S") %>'
)
UNION
(
  SELECT
      Checktime           AS check_at
    , Users.Name          AS person_id
    , LugaresB.ClientName AS terminal_name
  FROM
    Att2003.dbo.Checkinout Checks
  LEFT JOIN Att2003.dbo.Userinfo Users ON Checks.Userid = Users.Userid
  LEFT JOIN Att2003.dbo.FingerClient LugaresB ON Checks.Sensorid = LugaresB.Clientid
  WHERE
    Checktime BETWEEN '<%= DateTime.strptime( @fechahora_inicio , "%FT%T%:z" ).strftime("%Y-%m-%d %H:%M:%S") %>' AND '<%= DateTime.strptime( @fechahora_fin , "%FT%T%:z" ).strftime("%Y-%m-%d %H:%M:%S") %>'
)
