check_at: <%= DateTime.strptime( "#{@instance[ :check_at ]}", "%Y-%m-%d %H:%M:%S %z" ) %>
<%=
	biometric = Biometric.where( :name => @instance[ :terminal_name ] ).first_or_initialize
	biometric.save unless biometric.persisted?
	"biometric_id: #{ biometric.id }"
%>
<%=

	gobbi_schema_name = "CATA" 	if [ "CATA_Taller" , "CATA_TallerBK" , "CATA_Turismo" , "Tupungato_Taller" , "Tupungato_Terminal" , "Ag.001" , "Ag.003" , "Tunuyan_Terminal" , "Tunuyan_Taller" ].include?( @instance[ :terminal_name ] )
	gobbi_schema_name = "MITRE" if [ "MITRE_Taller" ].include?( @instance[ :terminal_name ] )

	gobbi_schema_id = GobbiSchema.find_by( :name => gobbi_schema_name ).id

	id_person = @instance[ :person_id ].to_i

	# Buscamos por intuición un legajo dentro de los legajos directamente en el grupo empresa según Gobbi (CATA, MITRE, ELMENDOCINO, ...)
	person = Person.find_by( :id_person => id_person , :gobbi_schema_id => gobbi_schema_id )

	# Si alguno de ELMENDOCINO marco en MITRE_Taller
	if gobbi_schema_name == "MITRE" and !person.present?

		# buscamos id de schema modificado
		gobbi_schema_id = GobbiSchema.find_by( :name => "ELMENDOCINO" ).id

		# Si no existe con MITRE, probamos buscando con ELMENDOCINO
		person = Person.find_by( :id_person => id_person , :gobbi_schema_id => gobbi_schema_id )

		# Si no existe ELMENDOCINO##### donde ##### es el Nro de legajo, probamos buscando con CATA#####
		unless person.present?

			# buscamos id de schema modificado
			gobbi_schema_id = GobbiSchema.find_by( :name => "CATA" ).id

			person = Person.find_by( :id_person => id_person , :gobbi_schema_id => gobbi_schema_id )

		end

	end


	# Si alguno de MITRE , ELMENDOCINO marco en CATA_Taller
	# Si no existe MITRE##### donde ##### es el Nro de legajo, probamos buscando con ELMENDOCINO#####
	if gobbi_schema_name == "CATA" and !person.present?

		# buscamos id de schema modificado
		gobbi_schema_id = GobbiSchema.find_by( :name => "MITRE" ).id

		person = Person.find_by( :id_person => id_person , :gobbi_schema_id => gobbi_schema_id )

		# Si no existe ELMENDOCINO##### donde ##### es el Nro de legajo, probamos buscando con CATA#####
		unless person.present?

			# buscamos id de schema modificado
			gobbi_schema_id = GobbiSchema.find_by( :name => "ELMENDOCINO" ).id

			person = Person.find_by( :id_person => id_person , :gobbi_schema_id => gobbi_schema_id )

		end

	end
	if person
		"person_id: #{ person.id }"
	else
		"person_id: nil"
	end
%>
system_id: <%= @system.id %>
synchronizer_id: <%= @self.id %>
