SELECT

		Venta.Id
	, Venta.EmpresaCodigo
	, Venta.ComprobanteNumero
	, Venta.EmisionFechaHora

	, REPLACE( AgenciaOrigen.Codigo , ',' , ';' ) AS AgenciaOrigenCodigo
	, REPLACE( AgenciaOrigen.Nombre , ',' , ';' )  AS AgenciaOrigenNombre
	, REPLACE( AgenciaOrigen.RazonSocial , ',' , ';' )  AS AgenciaOrigenRazonSocial
	, REPLACE( LocalidadOrigen.Nombre , ',' , ';' )  AS AgenciaOrigenLocalidadNombre

	, REPLACE( AgenciaDestino.Codigo , ',' , ';' )  AS AgenciaDestinoCodigo
	, REPLACE( AgenciaDestino.Nombre , ',' , ';' )  AS AgenciaDestinoNombre
	, REPLACE( AgenciaDestino.RazonSocial , ',' , ';' )  AS AgenciaDestinoRazonSocial
	, REPLACE( LocalidadDestino.Nombre , ',' , ';' )  AS AgenciaDestinoLocalidadNombre

	, Venta.Cot	AS TotalCOT
	, Venta.NetoGravado	AS TotalNetoGravado
	, Venta.IVA AS TotalIVA
	, Venta.Bruto	As TotalBruto

	, REPLACE( Venta.ClienteRazonSocial , ',' , ';' ) AS ClienteRazonSocial
	, REPLACE( Venta.ClienteCUIT , ',' , ';' ) AS ClienteCUIT
	, REPLACE( Venta.ClienteTipo , ',' , ';' ) AS ClienteTipo
	, REPLACE( Usuario.Codigo , ',' , ';' ) AS VentaUsuario
	, Venta.EstadoAnulado AS Anulado
	, Venta.ComprobanteLetra AS ComprobanteLetra

FROM

(

	(

		SELECT
			Documento.DocumentoID AS Id
			, 'CAR' AS EmpresaCodigo
			, Documento.Numero AS ComprobanteNumero
			, Documento.FechaInsercion AS EmisionFechaHora

 			, Guia.AgenciaEmisora AS AgenciaOrigenID
 			, Guia.LocalidadOrigen AS AgenciaOrigenLocalidadID
 			, Guia.DepositoDestino AS AgenciaDestinoID
 			, Guia.LocalidadDestino AS AgenciaDestinoLocalidadID

			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Cot ) AS Cot
			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Neto ) AS NetoGravado
			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Iva ) AS IVA
			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Bruto ) AS Bruto

			, Cliente.RazonSocial AS ClienteRazonSocial
			, ISNULL(Cliente.TaxId, '') AS ClienteCUIT
			, (
				SELECT
					TOP 1 Nombre
				FROM
					PX_CATA.dbo.TAX_ImpuestosCategorias WITH(NOLOCK)
				WHERE
						ImpuestoCategoriaID IN (
						SELECT
							ImpuestoCategoriaID
						FROM
							PX_CATA.dbo.TAX_RegimenesTributariosImpuestosCategorias WITH(NOLOCK)
						WHERE
							RegimenTributarioID IN (
								SELECT
									RegimenTributarioId
								FROM
									PX_CATA.dbo.TAX_RegimenesTributariosClientes WITH(NOLOCK)
								WHERE
									clienteId = Cliente.ClienteId
							)
					)
			) AS ClienteTipo
			, Documento.UsuarioID AS VentaUsuarioID
			, CASE WHEN RTRIM( Guia.Numero ) != RTRIM(Documento.Numero) THEN 1 ELSE Guia.Estado END AS EstadoAnulado
			, SUBSTRING(Documento.Numero, 1, 1) AS ComprobanteLetra
		FROM
			PX_CATA.dbo.TAX_Documentos Documento WITH(NOLOCK)
		INNER JOIN
			PX_CATA.dbo.E_GuiasDocumentos GuiaDocumento WITH(NOLOCK) ON Documento.DocumentoID = GuiaDocumento.DocumentoID
		INNER JOIN
			PX_CATA.dbo.E_Guias Guia WITH(NOLOCK) ON GuiaDocumento.GuiaID = Guia.Id
		INNER JOIN
			PX_CATA.dbo.Clientes Cliente WITH(NOLOCK) ON ( CASE Guia.PagoCondicion WHEN 0 THEN Guia.Remitente ELSE Guia.Destinatario END = Cliente.ClienteId )
		CROSS APPLY (
			select
				SUM( CASE WHEN DocumentoLinea.ValorImpuestos_ContabMonedaID = 0 THEN DocumentoLinea.ValorNeto_contabMonedaId ELSE 0 END ) AS Cot,
				SUM( CASE WHEN DocumentoLinea.ValorImpuestos_ContabMonedaID != 0 THEN DocumentoLinea.ValorNeto_contabMonedaId ELSE 0 END ) AS Neto,
				SUM( DocumentoLinea.ValorImpuestos_contabMonedaId ) AS Iva,
				SUM( CASE WHEN DocumentoLinea.ValorImpuestos_ContabMonedaID != 0 THEN DocumentoLinea.ValorBruto_ContabMonedaID ELSE 0 END ) AS Bruto
			FROM
				PX_CATA.dbo.TAX_DocumentosLineas DocumentoLinea WITH(NOLOCK)
			WHERE
				DocumentoLinea.DocumentoID = Documento.DocumentoId
		) AS DocumentosLineas

		WHERE
				Documento.DocumentoTipoID IN (3, 6)
			AND Documento.FechaInsercion BETWEEN CONVERT( DATETIME , '<%= @fechahora_inicio %>' , 120 ) AND CONVERT( DATETIME , '<%= @fechahora_fin %>' , 120 )
		GROUP BY
			  Documento.DocumentoId
			, Guia.Numero
			, Documento.FechaInsercion
			, Guia.AgenciaEmisora
			, Guia.LocalidadOrigen
			, Guia.DepositoDestino
			, Guia.LocalidadDestino
			, Documento.Numero
			, Cliente.RazonSocial
			, Cliente.TaxId
			, Cliente.ClienteId
			, Guia.Estado
			, Documento.DocumentoTipoID
			, Documento.UsuarioID
	)
		UNION
	(
		SELECT
			Documento.DocumentoId AS Id
			, 'CAR' AS EmpresaCodigo
			, Documento.Numero AS ComprobanteNumero
			, Documento.FechaInsercion AS EmisionFechaHora

 			, Guia.AgenciaEmisora AS AgenciaOrigenID
 			, Guia.LocalidadOrigen AS AgenciaOrigenLocalidadID
 			, Guia.DepositoDestino AS AgenciaDestinoID
 			, Guia.LocalidadDestino AS AgenciaDestinoLocalidadID

			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Cot ) AS Cot
			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Neto ) AS NetoGravado
			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Iva ) AS IVA
			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Bruto ) AS Bruto

			, Cliente.RazonSocial AS ClienteRazonSocial
			, ISNULL(Cliente.TaxId, '') AS ClienteCUIT
			, (
				SELECT
					TOP 1 Nombre
				FROM
					PX_CATA.dbo.TAX_ImpuestosCategorias WITH(NOLOCK)
				WHERE
						ImpuestoCategoriaID IN (
						SELECT
							ImpuestoCategoriaID
						FROM
							PX_CATA.dbo.TAX_RegimenesTributariosImpuestosCategorias WITH(NOLOCK)
						WHERE
							RegimenTributarioID IN (
								SELECT
									RegimenTributarioId
								FROM
									PX_CATA.dbo.TAX_RegimenesTributariosClientes WITH(NOLOCK)
								WHERE
									clienteId = Cliente.ClienteId
							)
					)
			) AS ClienteTipo
			, Documento.UsuarioID AS VentaUsuarioID
			, CASE WHEN RTRIM( Guia.Numero ) != RTRIM(Documento.Numero) THEN 1 ELSE Guia.Estado END AS EstadoAnulado
			, SUBSTRING(Documento.Numero, 1, 1) AS ComprobanteLetra
		FROM
			PX_CATA.dbo.TAX_Documentos Documento WITH(NOLOCK)
		INNER JOIN
			PX_CATA.dbo.E_GuiasDocumentos GuiaDocumento WITH(NOLOCK) ON Documento.DocumentoID = GuiaDocumento.DocumentoID
		INNER JOIN
			PX_CATA.dbo.E_Guias Guia WITH(NOLOCK) ON GuiaDocumento.GuiaID = Guia.Id
		INNER JOIN
			PX_CATA.dbo.Clientes Cliente WITH(NOLOCK) ON ( CASE Guia.PagoCondicion WHEN 0 THEN Guia.Remitente ELSE Guia.Destinatario END = Cliente.ClienteId )
		inner JOIN
			PX_CATA.dbo.TAX_DocumentosRelacionados DocumentoRelacionado WITH(NOLOCK) ON Documento.DocumentoID = DocumentoRelacionado.DocumentoRelacionanteId
		CROSS APPLY (
			select
				SUM( CASE WHEN DocumentoLinea.ValorImpuestos_ContabMonedaID = 0 THEN DocumentoLinea.ValorNeto_contabMonedaId ELSE 0 END ) AS Cot,
				SUM( CASE WHEN DocumentoLinea.ValorImpuestos_ContabMonedaID != 0 THEN DocumentoLinea.ValorNeto_contabMonedaId ELSE 0 END ) AS Neto,
				SUM( DocumentoLinea.ValorImpuestos_contabMonedaId ) AS Iva,
				SUM( CASE WHEN DocumentoLinea.ValorImpuestos_ContabMonedaID != 0 THEN DocumentoLinea.ValorBruto_ContabMonedaID ELSE 0 END ) AS Bruto
			FROM
				PX_CATA.dbo.TAX_DocumentosLineas DocumentoLinea WITH(NOLOCK)
			WHERE
				DocumentoLinea.DocumentoID = Documento.DocumentoId
		) AS DocumentosLineas

		WHERE
				Documento.DocumentoTipoId = 4
			AND Documento.FechaInsercion BETWEEN CONVERT( DATETIME , '<%= @fechahora_inicio %>' , 120 ) AND CONVERT( DATETIME , '<%= @fechahora_fin %>' , 120 )
		GROUP BY
			  Documento.DocumentoId
			, Guia.Numero
			, Documento.FechaInsercion
			, Guia.AgenciaEmisora
			, Guia.LocalidadOrigen
			, Guia.DepositoDestino
			, Guia.LocalidadDestino
			, Documento.Numero
			, Cliente.RazonSocial
			, Cliente.TaxId
			, Cliente.ClienteId
			, Guia.Estado
			, Documento.DocumentoTipoID
			, Documento.UsuarioID
			, DocumentoRelacionado.DocumentoRelacionanteId
	)
		UNION
	(
		SELECT
			Documento.DocumentoId AS Id
			, 'CAR' AS EmpresaCodigo
			, Documento.Numero AS ComprobanteNumero
			, Documento.FechaInsercion AS EmisionFechaHora

 			, Documento.EmisorID AS AgenciaOrigenID
 			, 11176 AS AgenciaOrigenLocalidadID
 			, Documento.ReceptorID AS AgenciaDestinoID
 			, '' AS AgenciaDestinoLocalidadID

			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Cot ) AS Cot
			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Neto ) AS NetoGravado
			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Iva ) AS IVA
			, ( CASE Documento.DocumentoTipoId WHEN 4 THEN -1 ELSE 1 END ) * SUM( DocumentosLineas.Bruto ) AS Bruto

			, Cliente.RazonSocial AS ClienteRazonSocial
			, ISNULL(Cliente.TaxId, '') AS ClienteCUIT
			, (
				SELECT
					TOP 1 Nombre
				FROM
					PX_CATA.dbo.TAX_ImpuestosCategorias WITH(NOLOCK)
				WHERE
						ImpuestoCategoriaID IN (
						SELECT
							ImpuestoCategoriaID
						FROM
							PX_CATA.dbo.TAX_RegimenesTributariosImpuestosCategorias WITH(NOLOCK)
						WHERE
							RegimenTributarioID IN (
								SELECT
									RegimenTributarioId
								FROM
									PX_CATA.dbo.TAX_RegimenesTributariosClientes WITH(NOLOCK)
								WHERE
									clienteId = Cliente.ClienteId
							)
					)
			) AS ClienteTipo
			, Documento.UsuarioID AS VentaUsuarioID
			, 0 AS EstadoAnulado
			, SUBSTRING(Documento.Numero, 1, 1) AS ComprobanteLetra
		FROM
			PX_CATA.dbo.TAX_Documentos Documento WITH(NOLOCK)
		INNER JOIN
			PX_CATA.dbo.Clientes Cliente WITH(NOLOCK) ON ( Documento.ReceptorID = Cliente.ClienteId )
		CROSS APPLY (
			select
				SUM( CASE WHEN DocumentoLinea.ValorImpuestos_ContabMonedaID = 0 THEN DocumentoLinea.ValorNeto_contabMonedaId ELSE 0 END ) AS Cot,
				SUM( CASE WHEN DocumentoLinea.ValorImpuestos_ContabMonedaID != 0 THEN DocumentoLinea.ValorNeto_contabMonedaId ELSE 0 END ) AS Neto,
				SUM( DocumentoLinea.ValorImpuestos_contabMonedaId ) AS Iva,
				SUM( CASE WHEN DocumentoLinea.ValorImpuestos_ContabMonedaID != 0 THEN DocumentoLinea.ValorBruto_ContabMonedaID ELSE 0 END ) AS Bruto
			FROM
				PX_CATA.dbo.TAX_DocumentosLineas DocumentoLinea WITH(NOLOCK)
			WHERE
				DocumentoLinea.DocumentoID = Documento.DocumentoId
		) AS DocumentosLineas

		WHERE
				Documento.FechaInsercion BETWEEN CONVERT( DATETIME , '<%= @fechahora_inicio %>' , 120 ) AND CONVERT( DATETIME , '<%= @fechahora_fin %>' , 120 )
			AND EXISTS(
				SELECT
					TOP 1 1
				FROM
					PX_CATA.dbo.CC_Cuentas AS CuentaCorriente WITH(NOLOCK)
				WHERE
					CuentaCorriente.Customer = Cliente.ClienteId AND CuentaCorriente.CuentaTipoID = 5
			)
			AND NOT EXISTS(
				SELECT
					TOP 1 1
				FROM
					PX_CATA.dbo.E_GuiasDocumentos AS GuiaDocumento
				WHERE
					GuiaDocumento.DocumentoID = Documento.DocumentoID
			)
		GROUP BY
			  Documento.DocumentoId
			, Documento.Numero
			, Documento.FechaInsercion
			, Documento.EmisorID
			, Documento.ReceptorID
			, Documento.Numero
			, Cliente.RazonSocial
			, Cliente.TaxId
			, Cliente.ClienteId
			, Documento.DocumentoTipoID
			, Documento.UsuarioID
	)

) AS Venta

LEFT JOIN
	PX_CATA.dbo.S_Prestadores AgenciaOrigen WITH(NOLOCK) ON ( Venta.AgenciaOrigenID = AgenciaOrigen.PrestadorID )
LEFT JOIN
	PX_CATA.dbo.S_Prestadores AgenciaDestino WITH(NOLOCK) ON ( Venta.AgenciaDestinoID = AgenciaDestino.PrestadorID )
LEFT JOIN
	PX_CATA.dbo.G_Localidades LocalidadOrigen WITH(NOLOCK) ON ( Venta.AgenciaOrigenLocalidadID = LocalidadOrigen.LocalidadID )
LEFT JOIN
	PX_CATA.dbo.G_Localidades LocalidadDestino WITH(NOLOCK) ON ( Venta.AgenciaDestinoLocalidadID = LocalidadDestino.LocalidadID )
LEFT JOIN
	PX_CATA.dbo.S_Usuarios Usuario WITH(NOLOCK) ON ( Venta.VentaUsuarioID= Usuario.UsuarioID )
ORDER BY
	Venta.EmisionFechaHora ASC
