<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Aurelia+, <%= @user.person.full_name %></h1>
    <p>
			Ha ingresado correctamente a Aurelia+,
			su nombre de usuario es: <strong><%= @user.username %></strong>.<br>
    </p>
    <p>
			Para iniciar sesión, entre al siguiente link: <%= @url %>.
    </p>
    <p>Gracias por registrar, y manos a la obra!</p>
  </body>
</html>
