Bienvenido a Aurelia+, <%= @user.person.full_name %>
===============================================
Ha ingresado correctamente a Aurelia+,
su nombre de usuario es: <%= @user.username %>.

Para iniciar sesión, entre al siguiente link: <%= @url %>.

Gracias por registrar, y manos a la obra!
