<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Crear usuario de acceso al sistema</h1>
	<small class="text-muted">Este proceso le concederá un acceso al sistema y a los datos, según los permisos asignados.</small>
</div>

<%= form_tag( get_new_user_from_native_person_path , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">D.N.I.:</div>
				<div class="col col-md-10 verticalcenter"><%= @person.dni %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Apellido:</div>
				<div class="col col-md-10 verticalcenter"><%= @person.last_name %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Nombre:</div>
				<div class="col col-md-10 verticalcenter"><%= @person.first_name %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Legajo:</div>
				<div class="col col-md-10 verticalcenter"><%= @person.id_person %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Rol:</div>
				<div class="col col-md-10 verticalcenter"><%= @person.role.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Estado:</div>
				<div class="col col-md-10 verticalcenter"><%= translate_status( @person ) %></div>
			</div>

			<div class="hr-line-dashed"></div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Nombre de usuario</div>
				<div class="col col-md-10 verticalcenter text-success"><strong><%= @person.dni %><strong></div>
			</div>

			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Contraseña</div>
				<div class="col col-md-10 verticalcenter text-success"><em>(Será solicitada al usuario ni bien inicie sesión)</em></div>
			</div>

			<!-- <%# unless @bank_account_movement.bank_account_card_id.present? and @bank_account_movement.is_movement_created? %>
				<%# print_input_param_bank_account_card( :agency_id , :select2 , @agencies ) %>
		    <div class="ibox-content" >
					<div id="task_params_content"></div>
		    </div>
			<%# end %>

			<%# if @bank_account_movement.current_account_movements.present? %>
				<div class="row p-xxs form-horizontal">
					<div class="col-md-12 text-center font-bold h1 text-warning"><i class="fa fa-exclamation-circle fa-fw"></i></div>
					<div class="col-md-12 text-center font-bold h3 text-warning">Movimientos existentes</div>
					<%# @bank_account_movement.current_account_movements.each do | current_account_movement | %>
						<div class="col-md-12 text-center font-bold"><%# super_link_to( :view , current_account_movement , :in_form ) %></div><br />
					<%# end %>
				</div>
			<%# end %> -->

	  </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<% if @person.can_create_user? %>
			<button type="submit" class="btn btn-primary">Crear usuario</button>
		<% end %>
	</div>

<% end %>
