<div class="ibox">
  <div class="ibox-content">

    <div class="row form_header">
      <div class="pull-left p-sm">
        <%= super_link_to( :pure_link , current_accounts_path , :in_form , { :text => "Volver" , :icon => 'fa-arrow-left' } ) %>
      </div>
      <div class="pull-left">
        <h2>Cuenta corriente<br/><strong><%= @current_account.detail %></strong></h2>
      </div>
    </div>

    <% if @period.present? %>

      <br />
      <center><h2> Período y subperíodos</h2></center>

	    <div class="row">
        <form action="" method="GET">

          <div class="col-md-4"></div>
          <div class="col-md-4">
	          <select name="period" class="form-control" onchange="this.form.submit()">
	            <% @current_account.periods.order( :order_number => :desc ).each do | current_account_period | %>
	              <% if @period == current_account_period %>
	                <option value="<%= current_account_period.order_number %>" selected="selected"><%= current_account_period.detail %></option>
	              <% else %>
	                <option value="<%= current_account_period.order_number %>"><%= current_account_period.detail %></option>
	              <% end %>
	            <% end %>
	          </select>

  	      </div>
          <div class="col-md-4"></div>
        </form>

	    </div>
      <hr class="hr-line-dashed">
      <div class="row">
        <div class="col-md-12">
          <div class="ibox-content">
            <%= render_instances_list( { :instances => @periods , :show_pagination => false } ) %>
          </div>
        </div>
      </div>

      <center><h2> Movimientos de</h2></center>
      <center><strong><h3><%= @period.detail %> </strong></h3></center>
      <div class="row" id="table_of_movements">
	      <div class="col-md-12">
	        <div class="ibox-content">
	          <%= render_instances_list( { :instances => @instances , :show_pagination => false , :structure => { :instances_controller => "current_account" , :action_name => "movements_view" } } ) %>
	        </div>
	      </div>
	    </div>

	  <% else %>

	    <center>
	      <h1 class="text-warning"><i class="fa fa-exclamation-circle fa-fw "></i></h1><h2>No existe un período vigente. Por favor primero inicie un período con una fecha inicial.</h2>
	    </center>

	  <% end %>

  </div>
</div>

<% content_for :javascript do %>
  <script>
    $( ".clickable" ).click( function() {
      $( this ).closest('tr').toggleClass( "parent_row_clickable_highlight" );
      $( this ).toggleClass( "fa-plus-square-o fa-minus-square-o" );
    });
  </script>
  <% if @period.class == AgencyCompanyPeriod %>
    <script>
      $( ".clickable" ).first().click();
    </script>
  <% end %>
<% end %>


<div class="modal inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-lg"> <div class="modal-content"> </div> </div> </div>
