<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Asignar créditos</h1>
	<small class="text-muted">Este proceso modificará el valor máximo de crédito asignado por cada agente externo.</small>
</div>

<%= form_tag( get_current_account_assign_credits_path , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">

			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Cuenta corriente:</div>
				<div class="col col-md-10 verticalcenter"><%= @current_account.detail %></div>
			</div>

			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Crédito máximo:</div>
				<div class="col col-md-10 verticalcenter"><%= number_to_currency( @current_account.credit_maximum ) %></div>
			</div>

			<%# if @current_account.remaining_amount > 0 %>

				<div class="hr-line-dashed"></div>
				<div id="agency_companies_group" class="form-horizontal"></div>

				<div id="agency_companies_total" class="form-horizontal"  style="display:none;">
					<div class="row form-horizontal agency_companies_line" id="agency_company">
						<div class="col-md-9 text-right border-top control-label font-bold">Total</div>
						<div class="col-md-3 text-left border-top control-label font-bold">
							<span id="total_amount"></span>
						</div>
					</div>
				</div>

				<div id="current_accounts_left_amount" class="form-horizontal" style="display:none;">
					<div class="row form-horizontal current_account_line" id="current_account">
						<div class="col-md-9 text-right control-label font-bold">Restante</div>
						<div class="col-md-3 text-left control-label font-bold">
							<span id="left_amount"></span>
						</div>
					</div>
				</div>

			<%# end %>

	  </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<button type="submit" class="btn btn-primary">Modificar créditos</button>
	</div>

<% end %>


<script>

	$(document).ready(function() {
		$( ".select2_agency_company_id" ).select2();
		$( ".select2_agency_company_id" ).val( $('.select2_agency_company_id option:first-child').val() ).trigger('change');
	});

	$(document).ready(function(){
		var agency_company_wrapper = $("#agency_companies_group") ;
		<% if @external_agencies_companies.present? %>
			<% @external_agencies_companies.each do | external_agency_company | %>
				$( agency_company_wrapper ).append( '<%= render_external_agency_company( external_agency_company.id , external_agency_company.credit_maximum , false ) %>' ) ;
			<% end %>
		<% end %>
    refresh_selects2();
		refresh_totals();
	});

	$(document).ready(function() {

		var agency_company_wrapper = $("#agency_companies_group") ;
		$( ".input_amount" ).change( function(){
			refresh_totals();
		});

	});

	function refresh_totals(){
		if( $('.input_amount').length > 0 ){
			var sum=0.00;
			$('.input_amount').each(function(){
				sum += +$(this).val();
			});
			var left=<%= @current_account.credit_maximum %>-sum;
			$( "#agency_companies_total" ).show();
			$( "#current_accounts_left_amount" ).show();
			$( "#total_amount" ).html( '$ ' + parseFloat( sum , 10 ).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() );
			$( "#left_amount" ).html( '$ ' + parseFloat( left , 10 ).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() );
		} else {
			$( "#agency_companies_total" ).hide();
			$( "#current_accounts_left_amount" ).hide();
			$( "#total_amount" ).html( '' );
			$( "#left_amount" ).html( '' );
		}
	}

	function unique(array) {
		return $.grep(array, function(el, index) {
			return index === $.inArray(el, array);
		});
	}
</script>
