<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= favicon_link_tag 'favicon32.ico' %>
    <title>AURELIA+</title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

  </head>

  <body class="md-skin">

      <div id="wrapper">

        <div class="middle-box text-center loginscreen animated fadeInDown">

          <div>

            <div>
              <h1 class="logo-name">Au+</h1>
            </div>

            <h3>Bienvenido a <strong>Aurelia+</strong></h3>

            <p>Sistema de homologación y unificación de la información.</p>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "m-t" } ) do |f| %>

              <div class="form-group">
                <%= f.text_field :username, class: "form-control" , placeholder: "Nombre de usuario" , autofocus: true %>
              </div>

              <div class="form-group">
                <%= f.password_field :password, class: "form-control" , placeholder: "Contraseña" , autocomplete: "off" %>
              </div>

              <!-- Notice for devise user sessions notes and alerts-->
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %>

              <%= f.submit "Iniciar sesión" , class: "btn btn-primary block full-width m-b" %>


            <% end %>

            <p class="m-t"> <small>C.A.T.A. Internacional &copy; 2017</small> </p>

          </div>

        </div>

      </div>

    </body>

</html>
