<%- if controller_name != 'sessions' %>
<p class="text-muted text-center"><small>¿Ya tiene usuario?</small></p>
  <%= link_to "Iniciar sesión", new_session_path(resource_name) , class: "btn btn-sm btn-white btn-block" %><br />
<% end -%>
