<div class="ibox">
  <div class="ibox-content">
    <%= render_instances_header_actions %>
    <%= print_link_to_get_new_job_modal %>
    <%= render_instances_search_modal %>
    <%= render_instances_list %>
  </div>
</div>
<div class="modal inmodal" id="log_modal" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-lg"> <div class="modal-content"> </div> </div> </div>
<div class="modal inmodal" id="new_modal" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-lg"> <div class="modal-content"> </div> </div> </div>
