currency_id: <%= begin Currency.find_by( :system_id => @system_ref_id , :symbol => @instance[ :currency_code ] ).id rescue nil end %>
date: <%= @instance[ :date ] %>
number: <%= @instance[ :number ] %>
detail: "504942257<%= @instance[ :card_number ].rjust( 6 , '0') %>"
kind: <%= class_reference.kinds[ :credit ] %>
amount: <%= @instance[ :amount ].to_f %>
bank_account_id: <%= begin BankAccount.find_by( :number => "5049-4 225-7" ).id rescue nil end %>
branch_number: <%= ( @instance[ :branch_number ].to_i ) %>
terminal_number: <%= ( @instance[ :terminal_number ].to_i ) %>
other_detail: "<%= @instance[ :payment_description ] %><%= " - #{ @instance[ :card_code ] } (#{ @instance[ :card_detail ] })" if @instance[ :card_code ].present? %>"
origin: "<%= @instance[ :origin ] %>"
check_count: <%= @instance[ :check_count ] %>
operation_status: <%= @instance[ :status ] %>
expiration_date: <%= @instance[ :expiration_date ] %>
receipt_code: <%= @instance[ :receipt_code ] %>
receipt_detail: <%= @instance[ :receipt_detail ] %>
receipt_currency_code: <%= @instance[ :receipt_currency_code ] %>
receipt_amount: <%= @instance[ :receipt_amount ] %>
check_number: <%= @instance[ :check_number ] %>
check_amount: <%= @instance[ :check_amount ] %>
system_id: <%= @system_ref_id %>
<%=
	begin
		"bank_account_card_id: #{ BankAccountCard.find_by( :number => "504942257#{@instance[ :card_number ].rjust( 6 , '0')}" ).id }"
	rescue
		"bank_account_card_id: #{nil}"
	end
%>
