<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Nueva tarea</h1>
	<small class="text-muted">Este proceso generará una tarea a realizar, luego podrá visualizar el LOG para conocer los resultados, una vez finalizada.</small>
</div>

<%= form_tag( get_new_job_path , :multipart => true ) do %>
	<% if @ref_url.present? %>
	<input type="hidden" name="ref_url" value="<%= @ref_url %>" readonly></input>
	<% end %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
	    <div class="ibox-content" >
				<%= print_input_param_task( :task_name , :select2 , @tasks , @ref_data ) %>
				<div id="task_params_content"></div>
	    </div>
	  </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</div>

<% end %>

<script>

	function html_params_for_task( name_of_task ) {
		var arr_content_params = {}
		<% @tasks.keys.each do |t| %>
		arr_content_params[ '<%= "#{t}" %>' ] = '<%= print_params_for_task( t , @ref_data ) %>';
		<% end %>
		return arr_content_params[ name_of_task ];
	}

	function change_html_for_task( name_of_task ) {
		$( "#task_params_content" ).html( html_params_for_task( name_of_task ) ) ;
		$( ".select2_demo_1" ).select2();
		$('.input-group.date').datepicker({
				todayBtn: "linked",
				forceParse: false,
				autoclose: true,
				format: 'dd/mm/yyyy',
				language: 'es'
		});
		$('.input-group.date').datepicker( "setDate", new Date() );
	}

	$(document).ready(function() {
		$( ".select2_job_name" ).select2();
		$( ".select2_job_name" ).on( "change" , function(e){
			change_html_for_task( this.value )
		});
		$( ".select2_job_name" ).val( $('.select2_job_name option:first-child').val() ).trigger('change');
	});
</script>
