
<div class="ibox">
  <div class="ibox-content">
		<p><%= link_to( :back ) do content_tag( :button , :class => "btn btn-link" ) do content_tag( :i , :class => "fa fa-arrow-left fa-fw" ) do end + "Regresar" end end %></p>
    <div class="text-center">
      <span class="text-muted"><i class="fa fa-clock-o"></i> <%= l( @date_log_file ) %></span>
      <h1>Contenido del LOG</h1>
      <h3><%= "#{params[:job_id]}.log" %></h3>
    </div>
    <pre style="border: 0px; font-size: 10pt;"><br><br><h3><center><strong>Contenido de LOG de tarea</strong></center></h3><% @content_log_file.each_line do |line| %><%= line.html_safe %><% end %><% if @content_sys_log_file.present? %><br /><br><h3><center><strong>Contenido de LOG nativo</strong></center></h3><br><% @content_sys_log_file.each do |line| %><%= line.html_safe %><% end %><% else %><br /><br><h3><center><strong>No hay contenido de LOG nativo</strong></center></h3><br><% end %></pre>
  </div>
</div>
