<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Resumen del LOG</h1>
	<h3><%= "#{params[:job_id]}.log" %></h3>
	<small class="text-muted"><i class="fa fa-clock-o"></i> <%= l( @date_log_file ) %></small>
</div>
<div class="modal-body">
	<pre style="border: 0px; font-size: 10pt;"><% @content_log_file.each do |line| %><%= line.html_safe %><% end %></pre>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
</div>
