<%= print_link_to_get_new_job_modal %>
<center>
	<span class="h5"> Demonio: </span>
	<% if %x{#{Rails.root}/bin/delayed_job status}.starts_with?("delayed_job: running") %>
		<span class="h5 text-info"><i class="fa fa-circle fa-fw"></i> ON</span>
	<% else %>
		<span class="h5 text-danger"><i class="fa fa-circle fa-fw"></i> OFF</span>
	<% end %>
</center>
<%= render_instances_search_modal %>
<%= render_instances_list %>
<div class="modal inmodal" id="log_modal" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-lg"> <div class="modal-content"> </div> </div> </div>
<div class="modal inmodal" id="new_modal" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-lg"> <div class="modal-content"> </div> </div> </div>
