<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aurelia+</title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>



  </head>
  <body class="gray-bg">

  <!-- Main view  -->
  <%= yield %>

  <!-- Include javascript per-controller - vendor plugins -->
  <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

﻿    <div class="middle-box text-center animated fadeInDown">
      <h1>401</h1>
      <span class="h1"><i class="fa fa-times-circle fa-fw text-danger"></i></span>
      <h3 class="font-bold">No autorizado</h3>

      <div class="error-desc">

        Lo lamentamos, pero la acción que está intentando realizar no está permitida.<br /><br />
        <% if @model.method_defined?("model_name") %>
          <strong><%= translate_action( @model.to_s.underscore.to_sym , @action ) %> <%= @model.model_name.human.downcase %></strong><br /><br />
        <% else %>
          <strong><%= translate_action( @model.to_s.underscore.to_sym , @action ) %> Controller: <%= @model %></strong><br /><br />
        <% end %>

        Si considera que esto es un error por favor comuníquelo al administrador del sistema o solicite el permiso.

        <form class="form-inline m-t" role="form">
          <%= link_to (request.referer.present? ? request.referer : default_path) , :class => "btn btn-default" do %>
            <i class="fa fa-angle-left fa-fw"></i> Volver
          <% end %>
          <button type="submit" class="btn btn-primary">Solicitar permiso</button>
        </form>
      </div>

    </div>


  <!-- Include javascript per-view -->
  <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
  <%= yield :javascript %>

  </body>
</html>
