<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Resetear la contraseña del usuario</h1>
	<small class="text-muted">Este proceso generará un token y le enviará un correo al usuario seleccionado, permitiéndole generar una contraseña nueva a través del enlace enviado.</small>
</div>

<%= form_tag( user_get_reset_password_path , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Usuario:</div>
				<div class="col col-md-10 verticalcenter"><%= @user.username %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">E-Mail:</div>
				<% if @user.email.present? %>
					<div class="col col-md-10 verticalcenter"><%= @user.email %></div>
				<% else %>
					<div class="col col-md-10 verticalcenter text-danger">( NO existe correo electrónico asociado dónde enviar el token)</div>
				<% end %>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Persona:</div>
				<div class="col col-md-10 verticalcenter"><%= @user.person.last_name %></div>
			</div>

	  </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<% if @user.can_reset_password? && @user.email.present?%>
			<button type="submit" class="btn btn-primary">Resetear contraseña</button>
		<% end %>
	</div>

<% end %>
