date: <%= @instance[ :date ] %>
number: <%= @instance[ :number_reference ].to_i %>
detail: "<%= @instance[ :detail ] %>"
kind: <%= ( @instance[ :amount ].to_f > 0.00 ? class_reference.kinds[ :credit ] : class_reference.kinds[ :debit ] ) %>
amount: <%= ( @instance[ :amount ].to_f > 0.00 ? @instance[ :amount ].to_f : ( -@instance[ :amount ].to_f) ) %>
value_date: <%= @instance[ :value_date ].to_i %>
system_id: <%= @system_ref_id %>
<%=
	begin
		"bank_account_id: #{ BankAccount.all.map{ | bank_account | bank_account if bank_account.number_nosymbols.gsub(/^0*/,"") == "24056281375123" }.compact.first.id }"
	rescue
		"bank_account_id: nil"
	end
%>
<%=
	begin
		"bank_account_card_id: #{ BankAccountCard.find_by( :number => "#{ @instance[ :detail ] }" ).id }"
	rescue
		"bank_account_card_id: #{nil}"
	end
%>
