<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Registrar ingreso de dinero en Caja</h1>
	<small class="text-muted">Este proceso creará un movimiento de ingreso en una caja que se encuentre abierta.</small>
</div>

<%= form_tag( get_new_cash_register_ingress_movement_from_cash_register_path , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Caja:</div>
				<div class="col col-md-10 verticalcenter"><%= @cash_register.detail %></div>
			</div>

			<div class="hr-line-dashed"></div>
			<%= print_input_param_cash_register_movement( :amount , :text_field ) %>
			<%= print_input_param_cash_register_movement( :detail , :text_field ) %>
  	</div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<button type="submit" class="btn btn-primary">Registrar ingreso</button>
	</div>

<% end %>
