<div class="form-group" id="data_5">
    <label class="font-normal">Range select</label>
    <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-sm form-control" name="start" value="05/14/2014">
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control" name="end" value="05/22/2014">
    </div>
</div>
