<%= render_instances_search_modal %>
<%= render_instances_list %>

<% if @instances %>
	<%= content_tag( :center ) do print_link_to_printeable end %>
<% end %>

<script>

   $(function() {

     $("span.divio").click( function(){
       ref_element = $(this);
       $.ajax({
          type: "GET",
          url: "<%= url_for( :controller => 'person_checks' ) %>/" + $(this).data("id") + "/swap_kind" ,
          contentType:"json" ,
          success: function(response, status) {
            if (response.success == "input") {
              ref_element.text("Entrada");
            }else if(response.success == "output") {
              ref_element.text("Salida");
            }
            return true;
          }
        });
     });
   });

 </script>
