<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <%= wicked_pdf_stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
    <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>

    <style>
      table {
        border:0px !important;
      }

      thead { display: table-header-group }
      tfoot { display: table-row-group }
      tr { page-break-inside: avoid }

      tr th {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
      }
      tr td {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
      }
    </style>

  </head>

  <body style="background-color: #fff;font-size: 8pt !important;">

    <div class="col-lg-12">

      <div class="row">

        <div class="col-xs-5 p-w-xs">&nbsp;</div>

        <div class="col-xs-7 border border-top-bottom border-left-right bg-grey_2" style="">

          <div class="row">
            <div class="col-xs-12 p-w-xs"><strong>CATA INTERNACIONAL LTDA.</strong></div>
          </div>

          <div class="row">
            <div class="col-xs-12 p-w-xs">RÍO DIAMANTE N°550 - GODOY CRUZ - MENDOZA</div>
          </div>

          <div class="row">
            <div class="col-xs-8 p-w-xs text-left ">Actividad: TRANSPORTE AUT. DE PASAJEROS</div>
            <div class="col-xs-4 p-w-xs text-right">C.U.I.T.: 33-54662883-9</div>
          </div>

        </div>

      </div>

      <div class="row">
          <div class="col-xs-12 text-center m-sm h5"><strong>PLANILLA DE CONTROL HORARIO ENTRADA/SALIDA DEL PERSONAL</strong></div>
      </div>

      <% ref_person = @instances.map{ |i| i.person_id }.uniq.first %>

      <% if ref_person.present? %>
        <% person = Person.find( ref_person ) %>
      <% end %>
      <div class="row m-sm" >

        <div class="row">
          <div class="col-xs-3 text-right"><strong>NOMBRE Y APELLIDO:</strong></div>
          <div class="col-xs-3 text-left">
          <% if person.present? %>
            <%= person.full_name  %>
          <% end %>
          </div>
          <div class="col-xs-3 text-right"><strong>AÑO:</strong></div>
          <div class="col-xs-3 text-left">
          <% if @year_from == @year_to %>
            <%= @year_from %>
          <% else %>
            <%= @year_from %> - <%= @year_to %>
          <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3 text-right"><strong>D.N.I.:</strong></div>
          <div class="col-xs-3 text-left">
            <% if person.present? %>
              <%= number_with_delimiter( person.dni )  %>
            <% end %>
          </div>
          <div class="col-xs-3 text-right"><strong>MES:</strong></div>
          <div class="col-xs-3 text-left">
          <% if @month_from == @month_to %>
            <%= @month_from %>
          <% else %>
            <%= @month_from %> - <%= @month_to %>
          <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3 text-right"><strong>LEGAJO:</strong></div>
          <div class="col-xs-3 text-left">
            <% if person.present? %>
              <%= person.id_person  %>
            <% end %>
          </div>
          <div class="col-xs-3 text-right"><strong>SEMANA:</strong></div>
          <div class="col-xs-3 text-left">
            <% if @cweek_from == @cweek_to %>
              <%= @cweek_from %>
            <% else %>
              <%= @cweek_from %> - <%= @cweek_to %>
            <% end %>
          </div>
        </div>

    </div>

    <%= render_person_checks({ :only_results => true } ).html_safe %>

    <div class="row m-sm" >

      <div class="row">
        <div class="col-xs-6 text-left"><strong>Fecha y hora de emisión:</strong> <%= l(DateTime.now, :format => :long ) %></div>
        <div class="col-xs-6 text-center">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          ______________________________<br />
                Firma y aclaración
        </div>
      </div>

    </div>

  </body>

</html>
<%= javascript_include_tag 'application' %>
<script>

   $(function() {

     $("span.divio").click( function(){
       ref_element = $(this);
       $.ajax({
          type: "GET",
          url: "<%= url_for( :controller => 'person_checks' ) %>/" + $(this).data("id") + "/swap_kind" ,
          contentType:"json" ,
          success: function(response, status) {
            if (response.success == "input") {
              ref_element.text("Entrada");
            }else if(response.success == "output") {
              ref_element.text("Salida");
            }
            return true;
          }
        });
     });
   });

 </script>
