<div class="ibox">
  <div class="ibox-content ibox-heading" style="background-color: initial;">
    <h3><%= "#{@yml_version_structure.count} #{ (@yml_version_structure.count > 0 or @yml_version_structure.count == 1) ? 'Actualizaciones' : 'Actualización'}:" %></h3>
    <ul class="unstyled">
      <% @yml_version_structure.reverse.each_with_index do |version, v_index| %>
          <%= print_version( version ) %>
          <% if v_index < (@yml_version_structure.count - 1) %>
            <hr class="hr-line-dashed">
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
