date: <%= @instance[ :date ] %>
number: <%= @instance[ :number ].to_i %>
operation_code: <%= @instance[ :operation_code ] %>
detail: "<%= @instance[ :transaction_number ] %>"
kind: <%= ( @instance[ :amount ].to_f > 0.00 ? class_reference.kinds[ :credit ] : class_reference.kinds[ :debit ] ) %>
amount: <%= ( @instance[ :amount ].to_f > 0.00 ? @instance[ :amount ].to_f / 100.00  : ( ( -@instance[ :amount ].to_f) / 100.00 ) ) %>
value_date: <%= @instance[ :value_date ].to_i %>
system_id: <%= @system_ref_id %>
origin: <%= @instance[ :origin ] %>
currency_number: <%= @instance[ :currency_number ] %>
<%=
	begin
		"bank_account_id: #{ BankAccount.all.map{ | bank_account | bank_account if bank_account.number_nosymbols.gsub(/^0*/,"") == "24056280129397" }.compact.first.id }"
	rescue
		"bank_account_id: nil"
	end
%>
<%=
	begin
		"bank_account_card_id: #{ BankAccountCard.find_by( :number => @instance[ :transaction_number ] ).id }"
	rescue
		"bank_account_card_id: #{nil}"
	end
%>
