<div class="ibox">
  <div class="ibox-content">

    <div class="row form_header">
      <div class="pull-left p-sm">
        <%= super_link_to( :pure_link , permissions_path , :in_form , { :text => "Volver" , :icon => 'fa-arrow-left' } ) %>
      </div>
      <div class="pull-left">
        <% if @role.present? %>
          <h2>Permisos para <br/><strong><%= @role.detail %></strong></h2>
        <% else %>
          <h2>Permisos <br/><strong></strong></h2>
        <% end %>
      </div>
    </div>

    <br />
    <center><h2> Rol</h2></center>

    <div class="row">

      <!-- <form action="<%= %>" method="GET"> -->
      <%= form_tag( permissions_path , :method => "GET" ) do %>

        <div class="col-md-4"></div>
        <div class="col-md-4">
          <select name="role_id" class="form-control" onchange="this.form.submit()">
            <option value></option>
            <% @roles.each do | role | %>
            <% name_to_show = "[ #{role.sector.name} ] #{role.name}" %>
              <% if @role == role %>
                <option value="<%= role.id %>" selected="selected"><%= name_to_show %></option>
              <% else %>
                <option value="<%= role.id %>"><%= name_to_show %></option>
              <% end %>
            <% end %>
          </select>

	      </div>
        <div class="col-md-4"></div>

      <% end %>

    </div>

    <% if params[:role_id].present? %>

      <% if @role.present? %>

        <hr class="hr-line-dashed">
        <div class="row">
          <div class="col-md-12">
            <div class="ibox-content">
              <%= form_tag( post_assign_permissions_path ) %>
                <%= render_instances_list( { :instances => @controllers_constantized , :show_pagination => false } ) %>
                <center>
                  <%=
                    content_tag( :button , :type => "submit" , :id => "save_permissions" , :class => "btn btn-primary" ) do
                      content_tag( :i , :class => "fa fa-check fa-fw" ) do end + " Guardar permisos"
                    end
                  %>
                </center>
              <% end %>
            </div>
          </div>
        </div>

  	  <% else %>

  	    <center>
  	      <h1 class="text-warning"><i class="fa fa-exclamation-circle fa-fw "></i></h1><h2>No existe el rol indicado.</h2>
  	    </center>

  	  <% end %>

	  <% end %>

  </div>
</div>

<% content_for :javascript do %>
  <script>
    $( ".clickable" ).click( function() {
      $( this ).closest('tr').toggleClass( "parent_row_clickable_highlight" );
      $( this ).toggleClass( "fa-plus-square-o fa-minus-square-o" );
    });
  </script>
<% end %>


<div class="modal inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-lg"> <div class="modal-content"> </div> </div> </div>
