date: <%= @instance[ :date ] %>
number: <%= "#{ @instance[ :date ].strftime('%Y%m%d') }#{ @instance[ :operation_code ] }".to_i %>
detail: "<%= @instance[ :detail ] %>"
other_detail: "<%= @instance[ :other_detail ] %>"
<%=
	if @instance[ :amount_credit ]
		"kind: #{ ( @instance[ :amount_credit ].to_f > 0.00 ? class_reference.kinds[ :credit ] : class_reference.kinds[ :debit ] ) }"
	elsif @instance[ :amount_debit ]
		"kind: #{ ( @instance[ :amount_debit ].to_f < 0.00 ? class_reference.kinds[ :debit ] : class_reference.kinds[ :credit ] ) }"
	end
%>
<%=
	if @instance[ :amount_credit ]
		"amount: #{ ( @instance[ :amount_credit ].to_f > 0.00 ? @instance[ :amount_credit ].to_f : ( -@instance[ :amount_debit ].to_f ) ) }"
	elsif @instance[ :amount_debit ]
		"amount: #{ ( @instance[ :amount_debit ].to_f < 0.00 ? ( -@instance[ :amount_debit ].to_f )  : @instance[ :amount_credit ].to_f ) }"
	end
%>
system_id: <%= @system_ref_id %>
<%=
	begin
		"bank_account_id: #{ BankAccount.all.map{ | bank_account | bank_account if bank_account.number_nosymbols.gsub(/^0*/,"") == "2400010531" }.compact.first.id }"
	rescue
		"bank_account_id: nil"
	end
%>
<%=
	begin
		"bank_account_card_id: #{ BankAccountCard.find_by( :number => "#{ @instance[ :detail ] }" ).id }"
	rescue
		"bank_account_card_id: #{nil}"
	end
%>
