<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Crear tarjeta/ID y asociar agencia</h1>
	<small class="text-muted">Este proceso creará una tarjeta/identificación a partir del detalle del movimiento, asociándola a una agencia y reconociendo futuros movimientos para ser afectados a la cuenta corriente automáticamente.</small>
</div>

<%= form_tag( get_new_bank_account_card_from_bank_account_movement_detail_path , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Cuenta Bancaria:</div>
				<div class="col col-md-10 verticalcenter"><%= @bank_account_movement.bank_account.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Detalle</div>
				<div class="col col-md-10 verticalcenter"><%= @bank_account_movement.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Tipo</div>
				<div class="col col-md-10 verticalcenter"><%= translate_kind( @bank_account_movement ) %></div>
			</div>

			<% unless @bank_account_movement.bank_account_card_id.present? and @bank_account_movement.is_movement_created? %>
				<div class="hr-line-dashed"></div>
				<div class="row p-xxs form-horizontal">
					<div class="col-md-2 control-label text-right font-bold">ID de tarjeta</div>
					<div class="col col-md-10 verticalcenter"><%= @bank_account_movement.detail %></div>
				</div>
				<%= print_input_param_bank_account_card( :agency_id , :select2 , @agencies ) %>
		    <div class="ibox-content" >
					<div id="task_params_content"></div>
		    </div>
			<% end %>

			<% if @bank_account_movement.current_account_movements.present? %>
				<div class="row p-xxs form-horizontal">
					<div class="col-md-12 text-center font-bold h1 text-warning"><i class="fa fa-exclamation-circle fa-fw"></i></div>
					<div class="col-md-12 text-center font-bold h3 text-warning">Movimientos existentes</div>
					<% @bank_account_movement.current_account_movements.each do | current_account_movement | %>
						<div class="col-md-12 text-center font-bold"><%= super_link_to( :view , current_account_movement , :in_form ) %></div><br />
					<% end %>
				</div>
			<% end %>

	  </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<% unless @bank_account_movement.bank_account_card_id.present? and @bank_account_movement.is_movement_created? %>
			<button type="submit" class="btn btn-primary">Crear tarjeta</button>
		<% end %>
	</div>

<% end %>

<script>
	$(document).ready(function() {
		$( ".select2_agency_id" ).select2();
		$( ".select2_agency_id" ).val( $('.select2_agency_id option:first-child').val() ).trigger('change');
	});
</script>
