<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Generar movimiento en cuenta corriente</h1>
	<small class="text-muted">Este proceso generará un movimiento idéntico en una cuenta corriente.</small>
</div>

<%= form_tag( get_new_current_account_movement_from_bank_account_movement_path , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Cuenta Bancaria:</div>
				<div class="col col-md-10 verticalcenter"><%= @bank_account_movement.bank_account.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Fecha</div>
				<div class="col col-md-10 verticalcenter"><%= l( @bank_account_movement.date , :format => :dd_mm_yyyy ) %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Número</div>
				<div class="col col-md-10 verticalcenter"><%= @bank_account_movement.number %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Detalle</div>
				<div class="col col-md-10 verticalcenter"><%= @bank_account_movement.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Tipo</div>
				<div class="col col-md-10 verticalcenter"><%= translate_kind( @bank_account_movement ) %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Importe</div>
				<div class="col col-md-10 verticalcenter"><%= number_to_currency( @bank_account_movement.amount ) %></div>
			</div>

			<% unless @bank_account_movement.is_movement_created? %>
				<div class="hr-line-dashed"></div>
				<%= print_input_param_current_account_movement( :current_account_id , :select2 , @current_accounts ) %>
		    <div class="ibox-content" >
					<div id="task_params_content"></div>
		    </div>
			<% end %>

			<% if @bank_account_movement.current_account_movements.present? %>
				<div class="row p-xxs form-horizontal">
					<div class="col-md-12 text-center font-bold h1 text-warning"><i class="fa fa-exclamation-circle fa-fw"></i></div>
					<div class="col-md-12 text-center font-bold h3 text-warning">Movimientos existentes</div>
					<% @bank_account_movement.current_account_movements.each do | current_account_movement | %>
						<div class="col-md-12 text-center font-bold"><%= super_link_to( :view , current_account_movement , :in_form ) %></div><br />
					<% end %>
				</div>
			<% end %>

	  </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<% unless @bank_account_movement.is_movement_created? %>
			<button type="submit" class="btn btn-primary">Generar movimiento</button>
		<% end %>
	</div>

<% end %>

<script>
	$(document).ready(function() {
		$( ".select2_current_account_id" ).select2();
		$( ".select2_current_account_id" ).val( $('.select2_current_account_id option:first-child').val() ).trigger('change');
	});
</script>
