<%= form_tag( post_assign_permissions_path ) do %>
  <%= render_instances_list( { :instances => @controllers_constantized , :show_pagination => false , :show_searching_link => false } ) %>
  <center>
    <%=
      content_tag( :button , :type => "submit" , :id => "save_permissions" , :class => "btn btn-primary" ) do
        content_tag( :i , :class => "fa fa-check fa-fw" ) do end + " Guardar permisos"
      end
    %>
  </center>
<% end %>
