<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Generar movimientos en cuentas corrientes</h1>
	<small class="text-muted">Este proceso generará un movimiento con el importe indicado en cada cuenta corriente.</small>
</div>

<%= form_tag( get_new_current_account_movements_from_cash_register_movement_path , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Caja:</div>
				<div class="col col-md-10 verticalcenter"><%= @cash_register_movement.cash_register.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Fecha y Hora</div>
				<div class="col col-md-10 verticalcenter"><%= l( @cash_register_movement.created_at , :format => :dd_mm_yyyy_hh_mm_ss ) %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Detalle</div>
				<div class="col col-md-10 verticalcenter"><%= @cash_register_movement.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Tipo</div>
				<div class="col col-md-10 verticalcenter"><%= translate_kind( @cash_register_movement ) %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Importe</div>
				<div class="col col-md-10 verticalcenter"><%= number_to_currency( @cash_register_movement.amount ) %></div>
			</div>

			<% if @cash_register_movement.remaining_ingress.present? %>
				<div class="hr-line-dashed"></div>
				<div id="current_accounts_group" class="form-horizontal"></div>

				<div id="current_accounts_total" class="form-horizontal"  style="display:none;">
					<div class="row form-horizontal current_account_line" id="current_account">
						<div class="col-md-9 text-right border-top control-label font-bold">Total</div>
						<div class="col-md-3 text-left border-top control-label font-bold">
							<span id="total_amount"></span>
						</div>
					</div>
				</div>

				<div id="current_accounts_left_amount" class="form-horizontal" style="display:none;">
					<div class="row form-horizontal current_account_line" id="current_account">
						<div class="col-md-9 text-right control-label font-bold">Restante</div>
						<div class="col-md-3 text-left control-label font-bold">
							<span id="left_amount"></span>
						</div>
					</div>
				</div>

				<center>
					<button id="current_account_add" class="btn btn-outline btn-link text-success">
						<i class="fa fa-plus fa-fw"></i> Agregar cuenta corriente
					</button>
				</center>

			<% end %>

	  </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<% if @cash_register_movement.remaining_ingress > 0 %>
			<button type="submit" class="btn btn-primary">Generar movimientos</button>
		<% end %>
	</div>

<% end %>

<script>

	function refresh_selects2(){
		$(".select2_current_account").select2({ placeholder: "Seleccione un atributo" });
	}

	$(document).ready(function() {
		$( ".select2_current_account_id" ).select2();
		$( ".select2_current_account_id" ).val( $('.select2_current_account_id option:first-child').val() ).trigger('change');
	});

	$(document).ready(function(){
		var current_account_wrapper = $("#current_accounts_group") ;
		<% if @cash_register_movement.current_account_movements.present? %>
			<% @cash_register_movement.current_account_movements.each do | current_account_movement | %>
				$( current_account_wrapper ).append( '<%= render_to_add_current_account( current_account_movement.current_account.id , current_account_movement.amount , true ) %>' ) ;
			<% end %>
		<% end %>
    refresh_selects2();
		refresh_totals();
		check_duplicated_current_account();
	});

	$(document).ready(function() {

		var current_account_wrapper = $("#current_accounts_group") ;
		var current_account_add_button = $("#current_account_add") ;

    $( current_account_add_button ).click(function( e ){
      e.preventDefault();
      $( current_account_wrapper ).append( '<%= render_to_add_current_account %>' ) ;

      refresh_selects2();
      $( ".select2_current_account" ).on( "change" , function(e){
				check_duplicated_current_account();
      });

			$( ".input_amount" ).change( function(){
				refresh_totals();
			});

			$( current_account_wrapper ).on( "click" , ".remove_field" , function( e ){
				e.preventDefault();
				$( this ).closest( '.current_account_line' ).remove();
				refresh_totals();
				check_duplicated_current_account();
			});

			refresh_totals();
			check_duplicated_current_account();

    });

	});

	function refresh_totals(){
		if( $('.input_amount').length > 0 ){
			var sum=0.00;
			$('.input_amount').each(function(){
				sum += +$(this).val();
			});
			var left=<%= @cash_register_movement.amount %>-sum;
			$( "#current_accounts_total" ).show();
			$( "#current_accounts_left_amount" ).show();
			$( "#total_amount" ).html( '$ ' + parseFloat( sum , 10 ).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() );
			$( "#left_amount" ).html( '$ ' + parseFloat( left , 10 ).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() );
		} else {
			$( "#current_accounts_total" ).hide();
			$( "#current_accounts_left_amount" ).hide();
			$( "#total_amount" ).html( '' );
			$( "#left_amount" ).html( '' );
		}
	}

	function check_duplicated_current_account() {

		var arr_current_accounts = [] ;
		var arr_duplicated_current_account_ids = [] ;

		$(".warning_current_account").each( function() { $(this).hide() ; });
		$('.select2_current_account').each( function() { arr_current_accounts.push( $(this).val() ); });

		var arr_current_accounts_uniques = unique( arr_current_accounts ) ;

		for ( var i = 0; i < arr_current_accounts_uniques.length ; i++ ) {
			var current_account_id_ocurrences = $.grep( arr_current_accounts, function( current_account_id ) { return current_account_id === arr_current_accounts_uniques[i]; } ).length ;
			if ( ( $.inArray( arr_current_accounts_uniques[i] , arr_duplicated_current_account_ids ) == -1 ) && ( current_account_id_ocurrences > 1 ) ) {
				arr_duplicated_current_account_ids.push( arr_current_accounts_uniques[i] );
			}
		}

		$.each( arr_duplicated_current_account_ids , function( k , value ){
			$( '.select2_current_account option[value="'+value+'"]:selected' ).parents(".current_account_line").find("i.warning_current_account").each( function(){
				if ( !$(this).is(':visible') ){ $(this).show() } ;
			});
		});

	}

	function unique(array) {
		return $.grep(array, function(el, index) {
			return index === $.inArray(el, array);
		});
	}
</script>
