<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <%= favicon_link_tag 'favicon32.ico' %>
      <title>AURELIA+</title>

      <!-- Include style per-controller - vendor plugins -->
      <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

      <!-- Main css styles -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

      <!-- Main javascript files -->
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>

  </head>

  <body class="md-skin">

    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

      <div class="passwordBox">
        <div class="row">

          <div class="col-md-12">
            <div class="ibox-content">

              <h2 class="font-bold">Nueva contraseña</h2>
              <p> Ingrese la nueva contraseña dos veces para cambiarla. </p>

              <div class="row">

                <div class="col-lg-12">

                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put } , :class => "m-t" , :role => "role" ) do |f| %>

                  <h5 class="text-danger">
                    <%= devise_error_messages! %>
                  </h5>
                    <%= f.hidden_field :reset_password_token %>

                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                    <% end %>

                    <div class="form-group">
                      <%= f.password_field :password, autofocus: true, autocomplete: "off" , :placeholder => "Nueva contraseña" , :required => "" , :class => "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off" , :placeholder => "Repita nueva contraseña" , :required => "" , :class => "form-control" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Cambiar contraseña" , :class => "btn btn-primary block full-width m-b" %>
                    </div>
                  <% end %>

                </div>

            </div>

          </div>
        </div>
      </div>

    </div>

    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <%= yield :javascript %>


  </body>

</html>
