<!-- <% if user_signed_in? %>

	<h1>Bienvenido <%= current_user.detail %></h1>
	<p><i class="fa fa-warning"></i> Índice en construcción...</p>


	<h3>you have succesfully signed in</h3>
	<%= link_to "Sign Out", destroy_user_session_path , :method => :delete %>

<% else %>

	<h1> welcom to rails community</h1>
	<%= link_to "Sign In", new_user_session_path , :method => :get %>

<% end %> -->
