_lot_closure_global_number: <%= DateTime.strptime( "#{@instance[ :date ]} -3" , "%Y-%m-%d %H:%M:%S %z" ).strftime("%Y%m%d").to_i %>
global_number: <%= @instance[ :id ] %>
datetime_at: <%= DateTime.strptime( "#{@instance[ :date ]} -3" , "%Y-%m-%d %H:%M:%S %z" ) %>
<%=
	if [ "TC - Compra OnLine" ].include?( @instance[ :type ] )
		"kind: 0"
	elsif [ "TC - Devolucion" ].include?( @instance[ :type ] )
		"kind: 1"
	elsif [ "TC - Anulacion"].include?( @instance[ :type ] )
		"kind: 2"
	end
%>
transmission_mode: "<%= @instance[ :transmission_mode ] %>"
card_class: "<%= @instance[ :product_type ] %>"
card_entity: "<%= @instance[ :product ] %>"
commerce: "<%= @instance[ :commerce ] %>"
currency: "<%= @instance[ :country_code ] %>"
amount: <%= ( @instance[ :amount ] ) %>

comercio_referencia: "<%= @instance[ :commerce_ref ] %>"
cliente_mail: "<%= @instance[ :client_email ] %>"
pais_codigo: "<%= @instance[ :country_code ] %>"
estado: <%= @instance[ :status ] %>
id_mop_sva: "<%= @instance[ :id_mop_sva ] %>"
orig_id: "<%= @instance[ :orig_id ] %>"
resp_cod_mop: "<%= @instance[ :resp_cod_mop ] %>"
resp_mop: "<%= @instance[ :resp_mop ] %>"
resp_cod_psp: "<%= @instance[ :resp_cod_psp ] %>"
resp_psp: "<%= @instance[ :resp_psp ] %>"
resp_ext_psp: "<%= @instance[ :resp_ext_psp ] %>"
commerce_order_id: "<%= @instance[ :commerce_order_id ] %>"
commerce_ref_aditional: "<%= @instance[ :commerce_ref_aditional ] %>"
sequence_number: "<%= @instance[ :sequence_number ] %>"

system_id: <%= @system.id %>
synchronizer_id: <%= @self.id %>
