<%=
	begin
		"credit_terminal_id: #{ CreditTerminal.find_by( :code => "#{ @system_ref_code}-#{ @x_row_grouped_and_collect[ :commerce ] }" ).id }"
	rescue
		"credit_terminal_code: \"#{ @system_ref_code}-#{ @x_row_grouped_and_collect[ :commerce ] }\""
	end
%>
global_number: <%= @x_row_grouped_and_collect[ :_lot_closure_global_number ] %>
lot_number: <%= @x_row_grouped_and_collect[ :_lot_closure_global_number ] %>
host_number: "-"
host_name: "-"
closed_at:  <%= Date.strptime( @x_row_grouped_and_collect[ :_lot_closure_global_number ].to_s , "%Y%m%d" ) %>
amount:  <%= @x_row_grouped_and_collect[:group].map{ |element| ( element[ :kind ] == 0 ? ( element[ :amount ] ) : -( element[ :amount ] ) ) }.compact.sum %>

system_id: <%= @system.id %>
synchronizer_id: <%= @self.id %>
