/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 *= require style
 *= require font-awesome
 *= require sweetalert/sweetalert.css
 *= require toastr/toastr.min.css
 *= require select2/select2.min.css
 */


 /* Toast messenger stylesheet configs */
#toast-container > .toast:before {
  position: absolute;
  margin: auto 1.5em auto -1.5em;
  top: 50%;
  transform: translateY(-50%);
}

.toast {
  opacity: 1 !important;
}

.toast-top-center {
  margin-top: 10px;
}

/* Change the char symbol for separator in breadcrumbs */
.breadcrumb > li + li:before {
  content: "\F105" !important;
  font-family: FontAwesome !important;
}

.form-horizontal .form-group {
  margin-left: 0px !important;
}

.label-full-width {
  display:block !important;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.verticalcenter{
  padding-top: 7px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.select2-container {
  z-index: 9001;
}

.form-control {
  height: 30px !important;
}
