/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7
 *
*/

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Bootstra
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables, Mixins
@import "base/variables";
@import "base/mixins";

// INSPINIA Theme Elements
@import "base/typography";
@import "base/navigation";
@import "base/top_navigation";
@import "base/buttons";
@import "base/badges_labels";
@import "base/elements";
@import "base/sidebar";
@import "base/base";
@import "base/pages";
@import "base/chat";
@import "base/metismenu";
@import "base/spinners";

// Landing page
@import "base/landing";

// RTL Support
@import "base/rtl";

// For demo only - config box style
@import "base/theme-config";

// INSPINIA Skins
@import "base/skins";
@import "base/md-skin";

// Media query style
@import "base/media";

// Custom style
// Your custom style to override base style
@import "base/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}


.btn-block {
  &.btn-block-left { text-align: left; }
  &.btn-block-right { text-align: right; }
}

.dropdown-menu > li > a {
  padding: 0px;
}

.table-responsive {
  height: 100%;
}

.clients-list table tr td {
  height: 0px;
}

.font-size-bigger {
  font-size: 12pt;
}

.nulled {
  color: #aaaaaa;
}

.form_header {
  background-color:#eee;
  border-bottom:2px solid #DDD;
}

.select2-container--default .select2-selection--single ,
.select2-container--default .select2-selection--multiple {
  border: 1px solid #e5e6e7 !important;
  border-radius: 0px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #e5e6e7 !important;
}

.select2-dropdown {
  border: 1px solid #e5e6e7 !important;
  border-radius: 0px !important;
}
.select2-search--dropdown {
  background-color: #eee !important;
  border-bottom: 1px solid #e5e6e7 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  border-left: 1px solid #e5e6e7 !important;
}

table .collapse.in {
	display:table-row;
}
.p-w-xxs {
  padding: 0 3px;
}
.p-h-xxs {
  padding: 0 3px;
}
.text-disabled {
  color: #ccc;
}

.parent_row_clickable_highlight{
  background-color: #E0E0E0 !important;
}

.child_row_clickable_highlight{
  background-color: #f3f3f3 !important;
}

.bg-grey_1 {
  background-color: #ececec !important;
}
.bg-grey_2 {
  background-color: #f0f0f0 !important;
}
.bg-grey_3 {
  background-color: #ececec !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  margin: 0px 10px 0px 10px;
  font-size: 1.3em;
  color: grey;
}
