own: "<%= @instance[ :own ] %>"
liquidation_type: "<%= @instance[ :liquidation_type ] %>"
system_id: <%= System %>
<%=
	begin
		"agency_id: #{ Agency.find_by( :code => "#{ @instance[ :agency_code ] }" ).id }"
	rescue
		"agency_id: #{nil}"
	end
%>
<%=
	begin
		"company_id: #{ Company.find_by( :code => "#{ @instance[ :company_code ] }" ).id }"
	rescue
		"company_id: #{nil}"
	end
%>
<%=
	begin
		"agency_admin_id: #{ Agency.find_by( :code => "#{ @instance[ :agency_admin_code ] }" ).id }"
	rescue
		"agency_admin_id: #{nil}"
	end
%>
