date: <%= @instance[ :date ] %>
number: <%= @instance[ :number ] %>
detail: "<%= @instance[ :detail ] %>"
kind: <%= ( @instance[ :debit_or_credit ] == 'C' ? class_reference.kinds[ :credit ] : class_reference.kinds[ :debit ] ) %>
amount: <%= ( @instance[ :amount ].to_f / 100.00) %>
branch_number: <%= ( @instance[ :bank_branch_origin ].to_i ) %>
terminal_number:
other_detail:
origin:
operation_code: "<%= @instance[ :operation_code ] %>"
bank_operation_code: "<%= @instance[ :bank_operation_code ] %>"
type: "<%= @instance[ :type ] %>"
bank_code: "<%= @instance[ :bank_code ] %>"
value_date: <%= @instance[ :value_date ].to_i %>
depositor_code: "<%= @instance[ :depositor_code ] %>"
pcc: "<%= @instance[ :pcc ] %>"
operation_date: "<%= @instance[ :operation_date ] %>"
system_id: <%= @system_ref_id %>
<%=
	begin
		"currency_id: #{ Currency.find_by( :system_id => system_ref.id , :external_id => @instance[ :currency_number ] ).id }"
	rescue
		"currency_number: #{ @instance[ :currency_number ] }"
	end
%>
<%=
	begin
		"bank_account_id: #{ BankAccount.all.map{ | bank_account | bank_account if bank_account.number_nosymbols.gsub(/^0*/,"") == @instance[ :account_long_number ].gsub(/^0*/,"").strip }.compact.first.id }"
	rescue
		"bank_account_number: #{ @instance[ :account_long_number ].gsub(/^0*/,"").strip }"
		# nil
	end
%>
<%=
	begin
		"bank_account_card_id: #{ BankAccountCard.find_by( :number => "#{ @instance[ :detail ] }" ).id }"
	rescue
		"bank_account_card_id: #{nil}"
	end
%>
