class <%= constant_name_plural %>Controller < ApplicationController
  before_action :set_<%= constant_name_underscored_singular %>, only: [:show, :edit, :update, :destroy]

  def index
    prepare_index
  end

  def show
    render :edit
  end

  def new
    @<%= constant_name_underscored_singular %> = <%= constant_name_singular %>.new
  end

  def edit
    redirect_to( <%= constant_name_underscored_plural %>_path ) unless @<%= constant_name_underscored_singular %>.can_be_modified?
  end

  def create
    @<%= constant_name_underscored_singular %> = <%= constant_name_singular %>.new(<%= constant_name_underscored_singular %>_params)

    respond_to do |format|
      if @<%= constant_name_underscored_singular %>.save
        format.html { redirect_to @<%= constant_name_underscored_singular %>, notice: "Se creó #{controller_name.classify.constantize.model_name.human.downcase} <strong>#{@<%= constant_name_underscored_singular %>.display_name}</strong>".html_safe }
        format.json { render action: 'show', status: :created, location: @<%= constant_name_underscored_singular %> }
      else
        format.html { render action: 'new' }
        format.json { render json: @<%= constant_name_underscored_singular %>.errors, status: :unprocessable_entity }
      end
    end
  end

  def update
    redirect_to( <%= constant_name_underscored_plural %>_path ) unless @<%= constant_name_underscored_singular %>.can_be_modified?
    respond_to do |format|
      if @<%= constant_name_underscored_singular %>.update(<%= constant_name_underscored_singular %>_params)
        format.html { redirect_to @<%= constant_name_underscored_singular %>, notice: "Se modificó #{controller_name.classify.constantize.model_name.human.downcase} <strong>#{@<%= constant_name_underscored_singular %>.display_name}</strong>".html_safe }
        format.json { head :no_content }
      else
        format.html { render action: 'edit' }
        format.json { render json: @<%= constant_name_underscored_singular %>.errors, status: :unprocessable_entity }
      end
    end
  end

  def destroy
		@<%= constant_name_underscored_singular %>.status = <%= constant_name_singular %>::DELETED
		@<%= constant_name_underscored_singular %>.save
    respond_to do |format|
      format.html { redirect_to <%= constant_name_underscored_plural %>_url }
      format.json { head :no_content }
    end
  end

  private
    # Use callbacks to share common setup or constraints between actions.
    def set_<%= constant_name_underscored_singular %>
      @<%= constant_name_underscored_singular %> = <%= constant_name_singular %>.find(params[:id])
    end

    # Never trust parameters from the scary internet, only allow the white list through.
    def <%= constant_name_underscored_singular %>_params
      params.require(:<%= constant_name_underscored_singular %>).permit( )
    end
end
