class <%= constant_name_singular %> < ActiveRecord::Base

  # ------------------------------------------------ Global

    # Include Global methods
    include GlobalMethods

    # SimplestStatus
    extend SimplestStatus
    statuses :active, :inactive, :deleted

    # Audited
    audited

  # ------------------------------------------------ Self

    # Global method for displaying data
    def display_name
      "#{self.name}"
    end

end
