SELECT

		ExternalId 									AS external_id
	, EmpresaCodigo								AS company_code
	, CargaFechaHora							AS charged_at
	, OrigenProvinciaDescripcion	AS origin_province_description
	, ImporteTotal								AS amount_total
	, UsuarioIdLogin							AS user_username
	, TarjetaSerie								AS card_serie


FROM

	(

		(

			SELECT

					( mcr_carga_abonos.tc_id ) AS ExternalId
				, "E6_0" AS EmpresaCodigo
				, ( mcr_carga_abonos.tc_fecha ) AS CargaFechaHora
				, ( "MENDOZA" ) AS OrigenProvinciaDescripcion
				, ( mcr_carga_abonos.tc_importe ) AS ImporteTotal
				, ( mcr_carga_abonos.tc_login ) AS UsuarioIdLogin
				, ( mcr_carga_abonos.tc_tarjeta_serie ) AS TarjetaSerie

			FROM

				megacontrol_cata2.tarjeta_carga AS mcr_carga_abonos

			WHERE

				(
					( -- Validamos rango de fechas preestablecidas
						( mcr_carga_abonos.tc_fecha >= '<%= @fechahora_inicio %>' )
						AND
						( mcr_carga_abonos.tc_fecha <= '<%= @fechahora_fin %>' )
					)
					AND
					( -- Validamos que sean debitos ( cargas de abonos )
						( mcr_carga_abonos.tc_movimiento!='D' )
					)
				)

		)

		UNION -- [ CARGA DE ABONOS ] CATA 3

		(

			SELECT

					( mcr_carga_abonos.tc_id ) AS ExternalId
				, "E8_0" AS EmpresaCodigo
				, ( mcr_carga_abonos.tc_fecha ) AS CargaFechaHora
				, ( "MENDOZA" ) AS OrigenProvinciaDescripcion
				, ( mcr_carga_abonos.tc_importe ) AS ImporteTotal
				, ( mcr_carga_abonos.tc_login ) AS UsuarioIdLogin
				, ( mcr_carga_abonos.tc_tarjeta_serie ) AS TarjetaSerie

			FROM

				megacontrol_cata3.tarjeta_carga AS mcr_carga_abonos

			WHERE

				(
					( -- Validamos rango de fechas preestablecidas
						( mcr_carga_abonos.tc_fecha >= '<%= @fechahora_inicio %>' )
						AND
						( mcr_carga_abonos.tc_fecha <= '<%= @fechahora_fin %>' )
					)
					AND
					( -- Validamos que sean debitos ( cargas de abonos )
						( mcr_carga_abonos.tc_movimiento!='D' )
					)
				)

		)

		UNION -- [ CARGA DE ABONOS ] UTE SUR

		(

			SELECT

					( mcr_carga_abonos.tc_id ) AS ExternalId
				, "EC_0" AS EmpresaCodigo
				, ( mcr_carga_abonos.tc_fecha ) AS CargaFechaHora
				, ( "MENDOZA" ) AS OrigenProvinciaDescripcion
				, ( mcr_carga_abonos.tc_importe ) AS ImporteTotal
				, ( mcr_carga_abonos.tc_login ) AS UsuarioIdLogin
				, ( mcr_carga_abonos.tc_tarjeta_serie ) AS TarjetaSerie

			FROM

				megacontrol_pool_cataandes.tarjeta_carga AS mcr_carga_abonos

			WHERE

				(
					( -- Validamos rango de fechas preestablecidas
						( mcr_carga_abonos.tc_fecha >= '<%= @fechahora_inicio %>' )
						AND
						( mcr_carga_abonos.tc_fecha <= '<%= @fechahora_fin %>' )
					)
					AND
					( -- Validamos que sean debitos ( cargas de abonos )
						( mcr_carga_abonos.tc_movimiento!='D' )
					)
				)

		)

	) MCR_Ventas

	ORDER BY

		charged_at ASC

;
