SELECT

		CONCAT( "MCR-" , Empresas.Codigo ) AS code
	, ( CASE
			WHEN ( Empresas.Codigo = "E6_0" ) THEN "Abonos 650|Julmar|580"
			WHEN ( Empresas.Codigo = "E6_1" ) THEN "Grupo 650"
			WHEN ( Empresas.Codigo = "E6_2" ) THEN "Julmar"
			WHEN ( Empresas.Codigo = "E6_4" ) THEN "Ute Sur Mza"
			WHEN ( Empresas.Codigo = "E6_5" ) THEN "Grupo 580"

			WHEN ( Empresas.Codigo = "E8_0" ) THEN "Abonos 800|850"
			WHEN ( Empresas.Codigo = "E8_1" ) THEN "Grupo 800"
			WHEN ( Empresas.Codigo = "E8_2" ) THEN "Grupo 850"

			WHEN ( Empresas.Codigo = "EC_0" ) THEN "Abonos Buttini|Cata"
			WHEN ( Empresas.Codigo = "EC_1" ) THEN "USM - Buttini"
			WHEN ( Empresas.Codigo = "EC_2" ) THEN "USM - Cata"
			ELSE "Empresa sin nombre"
		END
	) AS name
	, <%= @system.id %> AS system_id
	, 1 AS kind

FROM

	(

		( SELECT "E6_0" AS Codigo )
			UNION
		( SELECT DISTINCT CONCAT( "E6_" , trans_empresa ) AS Codigo FROM megacontrol_cata2.transaccion )

		UNION

		( SELECT "E8_0" AS Codigo )
			UNION
		( SELECT DISTINCT CONCAT( "E8_" , trans_empresa ) AS Codigo FROM	megacontrol_cata3.transaccion )

		UNION

		( SELECT "EC_0" AS Codigo )
			UNION
		( SELECT DISTINCT CONCAT( "EC_" , trans_empresa ) AS Codigo FROM	megacontrol_pool_cataandes.transaccion )

	) Empresas

;
