<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Afectar movimientos</h1>
	<small class="text-muted">Este proceso afecta movimientos de tipo crédito hacia movimientos de tipo débito.</small>
</div>

<%= form_tag( get_new_movement_affectations_from_current_account_movement_path , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Cuenta corriente:</div>
				<div class="col col-md-10 verticalcenter"><%= @current_account_movement.current_account.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Detalle:</div>
				<div class="col col-md-10 verticalcenter"><%= @current_account_movement.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Fecha:</div>
				<div class="col col-md-10 verticalcenter"><%= l( @current_account_movement.resource_date , :format => :dd_mm_yyyy ) %></div>
			</div>
			<% if @current_account_movement.resource_time.present? %>
				<div class="row p-xxs form-horizontal">
					<div class="col-md-2 control-label text-right font-bold">Hora:</div>
					<div class="col col-md-10 verticalcenter"><%= l( @current_account_movement.resource_time , :format => :hh_mm_ss ) %></div>
				</div>
			<% end %>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Tipo</div>
				<div class="col col-md-10 verticalcenter"><%= translate_kind( @current_account_movement ) %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Importe</div>
				<div class="col col-md-10 verticalcenter"><%= number_to_currency( @current_account_movement.amount ) %></div>
			</div>

			<% if @current_account_movement.remaining_amount > 0 %>
				<div class="hr-line-dashed"></div>
				<div id="current_account_movements_group" class="form-horizontal"></div>

				<div id="current_account_movements_total" class="form-horizontal"  style="display:none;">
					<div class="row form-horizontal current_account_movement_line" id="current_account_movement">
						<div class="col-md-10 text-right border-top control-label font-bold">Total</div>
						<div class="col-md-2 text-left border-top control-label font-bold">
							<span id="total_amount"></span>
						</div>
					</div>
				</div>

				<div id="current_account_movements_left_amount" class="form-horizontal" style="display:none;">
					<div class="row form-horizontal current_account_movement_line" id="current_account_movement">
						<div class="col-md-10 text-right control-label font-bold">Restante</div>
						<div class="col-md-2 text-left control-label font-bold">
							<span id="left_amount"></span>
						</div>
					</div>
				</div>

				<center>
					<button id="current_account_movement_add" class="btn btn-outline btn-link text-success">
						<i class="fa fa-plus fa-fw"></i> Agregar movimiento
					</button>
				</center>

			<% end %>

	  </div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<% if @current_account_movement.remaining_amount > 0 %>
			<button type="submit" class="btn btn-primary">Afectar movimientos</button>
		<% end %>
	</div>

<% end %>

<script>

	function refresh_selects2(){
		$(".select2_current_account_movement").select2({ placeholder: "Seleccione un atributo" });
	}

	$(document).ready(function() {
		$( ".select2_current_account_movement_id" ).select2();
		$( ".select2_current_account_movement_id" ).val( $('.select2_current_account_movement_id option:first-child').val() ).trigger('change');
	});

	$(document).ready(function(){
		var current_account_movement_wrapper = $("#current_account_movements_group") ;
		<% if @current_account_movement.affectations.present? %>
			<% @current_account_movement.affectations.each do | affectation | %>
				$( current_account_movement_wrapper ).append( '<%= render_to_add_affectation( affectation.movement_to.id , affectation.amount , true ) %>' ) ;
			<% end %>
		<% end %>
    refresh_selects2();
		refresh_totals();
		check_duplicated_current_account_movement();
	});

	$(document).ready(function() {

		var current_account_movement_wrapper 		= $("#current_account_movements_group") ;
		var current_account_movement_add_button = $("#current_account_movement_add") ;

    $( current_account_movement_add_button ).click(function( e ){
      e.preventDefault();
      $( current_account_movement_wrapper ).append( '<%= render_to_add_affectation %>' ) ;

      refresh_selects2();
      $( ".select2_current_account_movement" ).on( "change" , function(e){
				check_duplicated_current_account_movement();
      });

			$( ".input_amount" ).change( function(){
				refresh_totals();
			});

			$( current_account_movement_wrapper ).on( "click" , ".remove_field" , function( e ){
				e.preventDefault();
				$( this ).closest( '.current_account_movement_line' ).remove();
				refresh_totals();
				check_duplicated_current_account_movement();
			});

			refresh_totals();
			check_duplicated_current_account_movement();

    });

	});

	function refresh_totals(){
		if( $('.input_amount').length > 0 ){
			var sum=0.00;
			$('.input_amount').each(function(){
				sum += +$(this).val();
			});
			var left=<%= @current_account_movement.amount %>-sum;
			$( "#current_account_movements_total" ).show();
			$( "#current_account_movements_left_amount" ).show();
			$( "#total_amount" ).html( '$ ' + parseFloat( sum , 10 ).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() );
			$( "#left_amount" ).html( '$ ' + parseFloat( left , 10 ).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() );
		} else {
			$( "#current_account_movements_total" ).hide();
			$( "#current_account_movements_left_amount" ).hide();
			$( "#total_amount" ).html( '' );
			$( "#left_amount" ).html( '' );
		}
	}

	function check_duplicated_current_account_movement() {

		var arr_current_account_movements = [] ;
		var arr_duplicated_current_account_movement_ids = [] ;

		$(".warning_current_account_movement").each( function() { $(this).hide() ; });
		$('.select2_current_account_movement').each( function() { arr_current_account_movements.push( $(this).val() ); });

		var arr_current_account_movements_uniques = unique( arr_current_account_movements ) ;

		for ( var i = 0; i < arr_current_account_movements_uniques.length ; i++ ) {
			var current_account_movement_id_ocurrences = $.grep( arr_current_account_movements, function( current_account_movement_id ) { return current_account_movement_id === arr_current_account_movements_uniques[i]; } ).length ;
			if ( ( $.inArray( arr_current_account_movements_uniques[i] , arr_duplicated_current_account_movement_ids ) == -1 ) && ( current_account_movement_id_ocurrences > 1 ) ) {
				arr_duplicated_current_account_movement_ids.push( arr_current_account_movements_uniques[i] );
			}
		}

		$.each( arr_duplicated_current_account_movement_ids , function( k , value ){
			$( '.select2_current_account_movement option[value="'+value+'"]:selected' ).parents(".current_account_movement_line").find("i.warning_current_account_movement").each( function(){
				if ( !$(this).is(':visible') ){ $(this).show() } ;
			});
		});

	}

	function unique(array) {
		return $.grep(array, function(el, index) {
			return index === $.inArray(el, array);
		});
	}
</script>
