<nav class="navbar-default navbar-static-side" role="navigation">

  <div class="sidebar-collapse">

    <ul class="nav metismenu" id="side-menu" style="display: none;">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" class="img-circle" src="<%= image_url 'profile_small.png' %>" />
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold"><%= current_user.person_full_name %></strong>
              </span> <span class="text-muted text-xs block"><%= current_user.display_role %><b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu m-t-xs">
            <li><a href="">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="">Cerrar sesión</a>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          Au<strong>+</strong>
        </div>
      </li>
      <%= draw_menu %>
    </ul>

  </div>

</nav>
