<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <%= favicon_link_tag 'favicon32.ico' %>
      <title>AURELIA+</title>

      <!-- Include style per-controller - vendor plugins -->
      <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

      <!-- Main css styles -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

      <!-- Main javascript files -->
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>



  </head>

  <body class="md-skin">

    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <%= render 'layouts/navigation' %>

        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

            <%= render 'layouts/topnavbar' %>

            <%= render_header %>

            <%= yield %>

            <br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />
            <br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />

            <%= render 'layouts/footer' %>

        </div>

    </div>

    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <%= yield :javascript %>

    <% if ( action_name == "index" ) %>

      <script type="text/javascript">

        // Get super div that contains "name_of_attribute > condition_name > values_of_attribute" (selects-inputs) group line
        function get_filter_line_by_trigger( element_trigger ) {
          return $( element_trigger ).closest( '.filter_line' ) ;
        }
        function update_filter( filter_line ) {
          var current_filter      = filter_line.find( '.attribute_condition' ) ;
          var name_of_attribute   = filter_line.find( '.select2_attribute' ).val() + filter_line.find( '.select2_condition' ).val().replace( "*" , "" ) ;
          var values_of_attribute = filter_line.find( '.select2_values' ).val() ;
          current_filter.attr( "name"  , "q[" + name_of_attribute + "]" ) ;
          current_filter.attr( "value" , values_of_attribute );
        }
        function convert_select2_values_to_ajax_for_getting_json_values( filter_line , attr_name , multiple ) {
          var name_of_attribute   = filter_line.find( '.select2_attribute' ).val() ;
          var select_object = filter_line.find( '.select2_values' ) ;
          select_object.select2({
            tags: true,
            multiple: multiple,
            placeholder: "Seleccione uno o varios valores" ,
            minimumInputLength: 3,
            ajax: {
              url: "/filter_search",
              dataType: 'json',
              quietMillis: 500,
              data: function (search) {
                search.attr_name = attr_name;
                return { q: search };
              },
              processResults: function (data) {
                return { results: data.items };
              },
              cache: true,
            },
          });
        }

        function refresh_selects2(){
          $(".select2_attribute").select2({ placeholder: "Seleccione un atributo" , escapeMarkup: function(m) { return m; } });
          $(".select2_condition").select2({ placeholder: "Seleccione una condicion" });
          $(".select2_values").select2( { tags: true, placeholder: "Seleccione un valor" } );
        }
        function refresh_ajax_selects2() {

          $( "select.select2_attribute" ).each( function(e){
            var group_cond_name = $(this).find(':selected').parent('optgroup').attr('label') ;
            if ( group_cond_name == "Varios valores" ) {
              multiple = true;
            }  else  {
              multiple = false;
            }

            var attr_name = get_filter_line_by_trigger( this ).find( '.select2_attribute' ).val();

            if ( attr_name.endsWith("_id") == true ) {
              convert_select2_values_to_ajax_for_getting_json_values( get_filter_line_by_trigger( this ) , attr_name , multiple )  ;
            }
          });

        }
        // For filters
        $(document).ready(function() {

          // initialize select2
          $("#filters[condition]").select2();

          var wrapper = $("#filtering_group") ;
          var add_button = $("#filter_add") ;

          $( add_button ).click( function(e) {
            e.preventDefault();
            $(wrapper).append( '<%= render_filter_to_add_in_search_by_filters %>' ) ;

            refresh_selects2();

            $( "select.select2_attribute,select.select2_condition,select.select2_values" ).on( "change" , function(e){
              update_filter( get_filter_line_by_trigger( this ) );
            });

            $( "select.select2_attribute" ).on( "change" , function(e){

              var group_cond_name = $(this).find(':selected').parent('optgroup').attr('label') ;
              var multiple = ( group_cond_name == "Varios valores" ? true : false )
              var attr_name = get_filter_line_by_trigger( this ).find( '.select2_attribute' ).val();
              var values_select2 = get_filter_line_by_trigger( this ).find( '.select2_values' );

              if ( attr_name.endsWith("_id") == true ) {
                convert_select2_values_to_ajax_for_getting_json_values( get_filter_line_by_trigger( this ) , attr_name , multiple )  ;
              } else {
                values_select2.select2( { tags: true, placeholder: "Seleccione uno o varios valores" , multiple: true } );
              }

            });

            $( "select.select2_condition" ).on( "change" , function(e) {

              var group_cond_name = $(this).find(':selected').parent('optgroup').attr('label') ;
              var values_select2 = get_filter_line_by_trigger( this ).find( '.select2_values' );

              if ( group_cond_name == "Otros" ) {

                values_select2.select2({
                  data: [ { id: 'true', text: 'Verdadero' }, { id: 'false', text: 'Falso' } ] ,
                  placeholder: "Seleccione un valor" ,
                  multiple: false,
                });

              } else if ( group_cond_name == "Varios valores" ) {

                attr_name = get_filter_line_by_trigger( this ).find( '.select2_attribute' ).val();

                if ( attr_name.endsWith("_id") == true ) {
                  convert_select2_values_to_ajax_for_getting_json_values( get_filter_line_by_trigger( this ) , attr_name , true )  ;
                } else {
                  values_select2.select2( { tags: true, placeholder: "Seleccione uno o varios valores" , multiple: true } );
                }

              }

            });


          });

          $( wrapper ).on( "click" , ".remove_field" , function(e){
            e.preventDefault();
            $(this).closest( '.filter_line' ).remove();
          });

          refresh_selects2();
          $( "select.select2_attribute,select.select2_condition,select.select2_values" ).on( "change" , function(e){
            update_filter( get_filter_line_by_trigger( this ) );
          });
          refresh_ajax_selects2();

        });
      </script>

    <% end %>

    <% if alert %>
      <script type="text/javascript">
        $( document ).ready(function() {
            toastr.options = {
              "closeButton": false,
              "debug": false,
              "progressBar": false,
              "positionClass": "toast-top-center",
              "onclick": null,
              "showDuration": "400",
              "hideDuration": "1000",
              "timeOut": "10000",
              "extendedTimeOut": "1000",
            }
          <% if alert %>toastr.error( "<%= alert %>" )<% end %>
        });
      </script>
    <% end %>

    <% if notice && notice.class == Hash %>
      <script type="text/javascript">
        $( document ).ready( function() {
          swal({
            <% if notice[ :errors ] %>
              title: "Se encontraron errores<h3><%= notice[ :instance ] %></h3>",
              text: "<%= notice[ :errors ] %>",
              type: "error",
              html: true
            <% end %>
            <% if notice[ :warnings ] %>
              title: "Advertencias<h3><%= notice[ :instance ] %></h3>",
              text: "<%= notice[ :warning ] %>",
              type: "warning",
              html: true
            <% end %>
            <% if notice[ :success ] %>
              title: "Solicitud procesada<h3><%= notice[ :instance ] %></h3>",
              text: "<%= notice[ :success ] %>",
              type: "success",
              html: true
            <% end %>
          });
        });
      </script>
    <% end %>

    <% if ( ( notice and notice.class == String ) or ( alert and alert.class == String ) ) %>
      <script type="text/javascript">
        $( document ).ready(function() {
            toastr.options = {
              "closeButton": false,
              "debug": false,
              "progressBar": false,
              "positionClass": "toast-top-center",
              "onclick": null,
              "showDuration": "400",
              "hideDuration": "1000",
              "timeOut": "10000",
              "extendedTimeOut": "1000",
            }
          <% if notice %>toastr.success( "<%= notice %>" )<% end %>
          <% if alert %>toastr.error( "<%= alert %>" )<% end %>
        });
      </script>
    <% end %>

    <% if params[ :per_page ] %>
      <script type="text/javascript">
        $( document ).ready(function() {
            $("#select_for_results_per_page").val("<%= params[ :per_page ] %>").trigger("change");
        });
      </script>
    <% end %>

  </body>

</html>
