<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
	<h1>Homologar</h1>
	<small class="text-muted">Este proceso relaciona una instancia con otra (homologa).</small>
</div>

<%= form_tag( eval( "get_homologate_#{@this_table_name_sing}_path" ) , :multipart => true ) do %>

	<div class="modal-body">
		<div class="ibox float-e-margins">
			<% if @model_local_instance.methods.include?(:detail) or @model_this.attribute_names.include?("detail") %>
				<div class="row p-xxs form-horizontal">
					<div class="col-md-2 control-label text-right font-bold">Recurso actual:</div>
					<div class="col col-md-10 verticalcenter"><%= @model_local_instance.detail %></div>
				</div>
			<% end %>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Sistema:</div>
				<div class="col col-md-10 verticalcenter"><%= @model_local_instance.system.detail %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">ID Externo:</div>
				<div class="col col-md-10 verticalcenter"><%= @model_local_instance.external_id %></div>
			</div>
			<div class="row p-xxs form-horizontal">
				<div class="col-md-2 control-label text-right font-bold">Datos externos:</div>
				<div class="col col-md-10 verticalcenter"><%= @model_local_instance.external_jsondata %></div>
			</div>

			<div class="hr-line-dashed"></div>
			<%= print_homologation_param_select( @attribute_name_ref.to_sym , :select2 , @model_local_instances , @attribute_ref_id ) %>
  	</div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
		<button type="submit" class="btn btn-primary">Homologar</button>
	</div>

<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$(".select2_homologation").select2( { allowClear: true , placeholder: "Seleccione una opción" } );
	});
</script>
