<div class="modal inmodal" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <% if content_for? :header_icon %>
          <i class="fa <%= yield :header_icon %> modal-icon"></i>
        <% end %>
        <% if content_for? :header_content %>
          <h4 class="modal-title"><%= yield :header_content %></h4>
        <% end %>
        <% if content_for? :header_footer %>
          <small class="font-bold"><%= yield :header_footer %></small>
        <% end %>
      </div>
      <div class="modal-body">
        <% if content_for? :body_content %>
          <%= yield :body_content %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <% if content_for? :footer_content %>
          <%= yield :footer_content %>
        <% end %>
      </div>
    </div>
  </div>
</div>
