<p>Hola <strong><%= @resource.person.full_name %></strong>!</p>

<p>Alguien solicitó cambiar su contraseña. Podes realizar dicha acción entrando al link que está abajo.</p>

<p><%= link_to 'Cambiar mi cuenta', edit_password_url(@resource, confirmation_token: @token) %></p>
