<p>Hola <strong><%= @resource.person.full_name %></strong>!</p>

<p>Alguien solicitó cambiar su contraseña. Podes realizar dicha acción entrando al link que está abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si Ud. no ha solicitado esto, por favor ignore este mensaje.</p>
<p>Su contraseña no será cambiada hasta que entre al link y asigne una nueva.</p>
